[2013-12-10 23:39] adamgoose opened #2 "Support for Laravel 4.1"
Any status on 4.1 support?

[2013-12-10 23:56] #2 closed, assigned to nobody

[2013-12-11 07:20] captbaritone opened #5 "Using $this when not in object context"
After installing this package, I was getting the following error in my log:

[code]

I changed line 50 in the service providor from:

[code]

To:

[code]

And it seems to work.

[2013-12-11 22:00] #5 closed, assigned to nobody

[2013-12-18 13:24] davidnknight opened #6 "Error in exception handler: Undefined index: file"
Error in exception handler: Undefined index: file in /path/to/laravel/vendor/bugsnag/bugsnag/src/Bugsnag/Stacktrace.php:26

[2014-01-09 10:53] wayneashleyberry opened #8 "composer dependency conflicts"
Hey guys,

There seems to be a dependency conflict with composer, any ideas?

[code]

[2014-01-09 11:05] #8 closed, assigned to nobody

[2014-01-09 15:01] wayneashleyberry opened #9 "bugsnag added as submodule?"
I installed bugsnag-laravel as per the usual `composer require bugsnag-laravel`

and it looks like the bugsnag module is included as a submodule.

![screen shot 2014-01-09 at 4 59 34 pm](https://f.cloud.github.com/assets/727262/1878651/b7d33a20-793e-11e3-8ec3-e78a5e2296cd.png)

This is a bit of a problem because i include dependencies in my git repo :(

[2014-01-10 18:47] #9 closed, assigned to nobody

[2014-01-17 01:54] #6 closed, assigned to nobody

[2014-03-03 17:00] chipbell4 opened #11 "Bugsnag Ignoring Environment"
Regardless of how I set my bugsnag configs:

[code]

Bugsnag is still receiving errors from my local machine (and its being tagged as local, so I know the environment's correct). Looking at the [service provider](https://github.com/bugsnag/bugsnag-laravel/blob/master/src/Bugsnag/BugsnagLaravel/BugsnagLaravelServiceProvider.php#L27) (check out the line I provided), it doesn't look like you're check

[2014-03-07 04:13] #11 closed, assigned to nobody

[2014-03-08 20:07] Jamesking56 opened #12 "setBeforeNotifyFunction is not working."
Hello,

I have a Laravel 4.1 application and I have added BugSnag-Laravel to it.

Unfortunately, the setBeforeNotifyFunction isn't working.

Here is my function I created in my `helpers.php` file which is autoloaded using composer:

[code]

`helpers.php` is autoloaded in composer:

[code]

Then, I told BugSnag about my function in my `App::before` filter:

[code]

This however, doesn't work. The e

[2014-04-30 02:10] #12 closed, assigned to nobody

[2014-05-15 09:16] mohalzaeem opened #16 "Bugsnag worked in localhost but not in production."
I've required Bugsnag in my Laravel 4.1 and every thing went fine, until I pushed my Laravel to a production server, that's when Bugsnag stopped reporting any errors.
Any ideas?

[2014-07-09 08:49] rspahni opened #17 "Bugsnag::notifyException($exception) seemingly not working"
v1.08 / Laravel 4.2.6: My app throws e.g. validation exceptions that I catch with a dedicated handler as follows:

[code]

Now I want Bugsnag to notify me of handled exceptions like the one above. However, inserting `Bugsnag::notifyException($exception)` before the redirect is not working for me.

[code]

Generally speaking, inside an  `App::error()` closure - where I think the call should be - no

[2014-07-18 08:12] dimsav opened #19 "FatalErrorException not shown in bugsnag"
Hi,

the following exception is not caught by bugsnag-laravel:

[code]

Any ideas why?

I know there is an issue in my code but still, bugsnag should be showing this error.

[2014-07-31 06:21] #17 closed, assigned to nobody

[2014-08-08 20:03] andheiberg opened #20 "Setup project root"
https://bugsnag.com/docs/notifiers/php#set-project-root

Project root should be set to app_path() I suppose

[2014-08-08 21:01] #20 closed, assigned to nobody

[2014-08-17 22:11] mikedugan opened #21 "Sorting options"
It would be super awesome to have some additional sorting options (if these exist, I haven't yet found them):
- Sort by number of occurrences
- Sort reverse of current filters where applicable (ie "Last 7 days" would be "More than 7 days ago"

The use case this evening arose when I needed to delete about a dozen issues that only occurred once or twice, and haven't occurred in the past week.

[2014-08-17 22:12] #21 closed, assigned to nobody

[2014-09-16 21:04] MarkVaughn opened #22 "laravel 5.0 capability?"
Will this package be available for laravel 5 soon?

[2014-09-16 21:13] #22 closed, assigned to nobody

[2014-09-17 13:51] luisdalmolin opened #24 "Ignore Exceptions"
Is there a way to ignore some exceptions?

Like: Symfony\Component\HttpKernel\Exception\NotFoundHttpException and Illumiante\Database\Eloquent\ModelNotFoundException.

[2014-10-21 11:39] Shad9w opened #28 "Laravel 4.2.11: Call to undefined method Illuminate\Auth\GenericUser::toArray()"
Hi. I got this error after updating to 4.2.11:

exception 'Symfony\Component\Debug\Exception\FatalErrorException' with message 'Call to undefined method Illuminate\Auth\GenericUser::toArray()' in <laravel_path>\vendor\bugsnag\bugsnag-laravel\src\Bugsnag\BugsnagLaravel\BugsnagLaravelServiceProvider.php:65

[2014-10-22 17:48] #28 closed, assigned to nobody

[2014-11-06 15:14] gregrobson opened #30 "Severity level default for exceptions should be 'error', not 'warning'"
I'm customising my own authentication exceptions as they have a lesser priority that fatal/halting code exceptions (it's normally because people are not logged in, or they are trying things they don't have access to, it's nice to keep an eye on, but normally cause for concern) and after reading the code and docs, it appears that "severity" definitions are not inline with what I have seen in other

[2014-11-06 16:01] gregrobson opened #31 "FatalErrorException gets sent twice"
I was just testing some changes I have made and I noticed that when a fatal syntax error occurs and a `Symfony\Component\Debug\Exception\FatalErrorException` is thrown Bugsnag is notified twice?

These errors wouldn't make it into our production code of course :wink: I just thought you might want to know in case that's something you need to be aware of.

[2014-12-29 12:13] bcdennis opened #35 "Support for Laravel5?"
Are there plans to update this to support Laravel5?

[2015-01-05 08:57] mikevrind commented on #24
Do you happen to have any more news about this issue?
I'm experiencing the same problem with the above exceptions. Both are caught, but are still popping up in Bugsnag.

[2015-01-05 17:59] loopj commented on #24
Hey @mikevrind, @luisdalmolin. We don't support this in the notifier right now, but you can choose which classes to ignore in your Bugsnag dashboard, under Settings -> Error Handling -> Ignored Errors.

I hope this helps!

[2015-01-05 17:59] #24 closed

[2015-01-05 18:03] loopj commented on #24
Actually, there is a way to do this in code too, by using `Bugsnag::setBeforeNotify`:

[code]

See [here](https://github.com/bugsnag/bugsnag-php#setbeforenotifyfunction) for more information.

[2015-01-10 01:11] snmaynard commented on #16
Closing this as the above explanation seems to have solved the issue!

[2015-01-10 01:11] #16 closed

[2015-01-10 01:53] snmaynard commented on #31
Closing as we have merged a fix!

[2015-01-10 01:53] #31 closed

[2015-01-25 15:23] cameronja commented on #35
+1

[2015-01-27 16:51] homoky commented on #35
+1

[2015-01-29 07:48] VH0815 commented on #35
+1

[2015-02-02 16:52] gregrobson commented on #35
:+1:

[2015-02-03 05:05] strebl commented on #35
:+1:

[2015-02-04 05:43] onbjerg commented on #19
As of Laravel 5 this can be fixed by adding ``Bugsnag::notifyException(new Exception("Something bad happened"));`` to the custom exception handler bundled with Laravel in app/Exceptions/Handler.php

[2015-02-04 10:44] dimsav commented on #19
@onbjerg :+1:

@ConradIrwin this should definitely be on the readme file.

[2015-02-04 15:33] gregrobson commented on #35
5.0 released! Bugsnag got mentioned in the new documenation :smile:
http://laravel.com/docs/master/errors#handling-errors

[2015-02-04 23:39] ConradIrwin commented on #35
Released in v1.3.0

[2015-02-04 23:39] #35 closed

[2015-02-06 09:58] VH0815 opened #38 "Wrong namespace of exception handler"
The namespace of the exception handler class seems to be hardcoded. Due to the PSR4 autoloader in L5 its best practice to rename the namespace of the app directory (http://laravel.com/docs/5.0/configuration#after-installation).

[code]

Handler.php is correctly namespaced, but wrong referenced in BugsnagExceptionHandler.php

[code]

[2015-02-06 22:15] adamgoose commented on #38
Yeah, this is for sure an issue, and likely going to be incredibly difficult to fix.

[2015-02-06 22:23] adamgoose commented on #38
I was able to thwart this issue by doing the following:

1. NOT include the `BugsnagLaravelServiceProvider`
2. Using `php artisan make:provider BugsnagServiceProvider`
3. Editing this provider to include the same `register()` method as the shipped provider.
4. Updating my `App\Exceptions\Handler` (except it's not `App`), and replacing that `report()` method with the same `report()` method as the s

[2015-02-06 23:28] johnnygreen commented on #38
Also having this issue.  Should bugsnag extend Illuminate\Foundation\Exceptions\Handler instead?

[2015-02-06 23:34] johnnygreen commented on #38
http://laravel.com/docs/5.0/errors#handling-errors

We can temp put this in the main handler
[code]

[2015-02-07 01:04] ConradIrwin commented on #38
I'd love feedback on #40 — would that work for everyone?

[2015-02-07 01:22] #38 closed

[2015-02-11 23:01] ConradIrwin commented on #19
This is fixed in Laravel 5, which we now support!

[2015-02-20 02:11] #30 closed

[2015-02-20 02:11] ConradIrwin commented on #30
Thanks! you're totally right :).

Conrad

[2015-02-26 21:07] Jaspur opened #41 "'ReflectionException' with message 'Class bugsnag does not exist'"
[code]

[2015-02-27 19:30] ConradIrwin commented on #41
@Jaspur which version of Laravel are you using? Are you loading the BugsnagLaravelServiceProvider?

[2015-03-04 03:55] tillkruss opened #42 "API key location"
Since L5 `config/services.php` exists. It would be great if the bugsnag API key could be added there and not in it's on file `config/bugsnag.php`.

Maybe even read the `BUGSNAG_API_KEY` using `env()`.

[2015-03-04 18:13] jessicard commented on #42
Hey @tillkruss - this change sounds reasonable. If you don't mind making a PR, we can take a look there - if not, we'll try to get around to it soon.

Thanks! :)

[2015-03-15 15:18] HebronNor commented on #41
I get this error as well

[code]

I am using Laravel 5.0.16, I am loading the service provider:

[code]

And alias:
[code]

I resolved it by making the vendor folder writable by the web server, but I don't get why that should be necessary.

[2015-03-15 16:22] HebronNor commented on #41
So I did a little bit more testing, I put the permissions on the vendor folder back (not writable by the web-server). No errors until I did a `composer update`, which did not update any packages but it did generate autoload files and optimized class loader.
[code]

[2015-03-16 17:05] snmaynard commented on #41
Glad you solved it (and thanks for letting us know how @HebronNor)!

[2015-03-16 17:05] #41 closed

[2015-03-20 08:58] michelecurletta commented on #42
@tillkruss +1 for API key in config/services.php .
Practise that puts API keys as environment variables is not encouraged by Laravel's gurus.

[2015-04-03 15:09] barisbora opened #45 ""CURL_IPRESOLVE_V4" bug on hhvm"
/bugsnag/bugsnag/src/Bugsnag/notification.php line 110;

curl_setopt($http, CURL_IPRESOLVE_V4, true);

problem with php-hhvm system. If close the this option everything works well

[2015-04-03 16:16] GrahamCampbell commented on #45
This is not a bug with this package.

[2015-04-03 22:55] ConradIrwin commented on #45
@barisbora when you say "close this option" what do you mean?

Could we add a check that skips this line on hhvm?

[2015-04-06 19:52] barisbora commented on #45
On hhvm, Laravel 5.0.26 with bugsnag;

i am getting this error "option 1 in not a valid",
/bugsnag/bugsnag/src/Bugsnag/notification.php line 110;

when i was delete curl_setopt($http, CURL_IPRESOLVE_V4, true); line, problem resolved.

Note: only hhvm installed server is getting this error.

if (!defined('HHVM_VERSION')) {
     curl_setopt($http, CURL_IPRESOLVE_V4, true);
}

its worked for me. Both

[2015-04-07 19:24] snmaynard commented on #45
Would this work?

[code]

It looks like HHVM might just have a different [interface](http://docs.hhvm.com/manual/en/function.curl-setopt.php) to set this

[2015-04-07 20:04] barisbora commented on #45
yes work and its better

[2015-04-13 19:10] ConradIrwin commented on #45
Fixed in v2.5.4 of bugsnag-php. Thanks

[2015-04-13 19:10] #45 closed

[2015-04-27 17:50] #42 closed

[2015-04-30 14:18] adamwathan opened #50 "Tag new release"
Would be awesome to tag a new version for this change so we can configure the package a bit more "idiomatic Laravel 5" style: https://github.com/bugsnag/bugsnag-laravel/commit/a647ec923d2b55d0ea2715d4e5e087d9c07afca5

Thanks folks! :blush:

[2015-05-17 23:53] thewinterwind opened #52 "Invalid Argument Exception Laravel 5"
[code]

[code]

I tried with and without a minimum-stability setting.

[2015-05-17 23:55] thewinterwind commented on #52
![image](https://cloud.githubusercontent.com/assets/2460820/7672808/37296708-fd33-11e4-827f-f2ee99a4c8c8.png)

[2015-05-18 04:30] Kryptonit3 opened #53 "Uncaught exception 'ReflectionException' with message 'Class bugsnag does not exist'"
Upgrading Laravel 5.0.x to 5.1, when running `composer update` I get the following

[code]

Everything is where it needs to be, (service provider, facade).

[2015-05-20 20:48] keeganlow commented on #52
fixed by https://github.com/bugsnag/bugsnag-laravel/pull/54

[2015-05-20 20:48] #52 closed

[2015-05-20 21:41] keeganlow commented on #53
Hi @Kryptonit3, would you mind sharing your composer.json file so I can try to recreate the issue?

[2015-05-28 18:45] jessicard commented on #50
Hey @adamwathan! I want to go ahead and tag a new version ASAP, but was wondering if you could weigh in on https://github.com/bugsnag/bugsnag-laravel/pull/49#issuecomment-104072407 first, in case that causes any issues

[2015-05-28 18:56] adamwathan commented on #50
Hey @jessicard, what's there will be fine, no issues. I don't think Graham noticed the code was in the exception handler rather than a service provider, unless he was suggesting to bind the exception handler in the service provider, which is a bit more code but would mean you could eliminate the `app()` call completely by just injecting the Bugsnag Client directly.

For what this does though, I do

[2015-05-29 01:38] ConradIrwin commented on #50
Thanks! Released v1.5.0 :).

[2015-05-29 01:38] #50 closed

[2015-06-09 13:44] lasselehtinen commented on #53
I've had the same issue in my deployment before. It was resolved by setting the vendor directory writable. I was now doing an upgrade to Laravel 5.1 and seems like I get the same error locally. It does not matter if I run this as admin rights. I am using Windows 7 if it makes any difference.

[code]

Here is my composer.json.

[code]

[2015-06-10 08:05] shazamjad commented on #53
Same issue for me - composer.json:

[code]

[2015-06-10 10:07] Gavrisimo commented on #53
I got the same error, but what I did is something like this:

1. update composer.json
2. run `composer update`
3. receive that error

Then I followed instructions from http://laravel.com/docs/5.1/upgrade#upgrade-5.1.0 and did the following:

1. Update bootstrap/autoload.php
2. Create bootstrap/cache Directory
3. run `composer update`
4. no errors

[code]

[2015-06-10 13:00] Dixens commented on #53
@Gavrisimo that did the trick, thanks!

[2015-06-11 19:03] raja opened #58 "Class 'App\Http\Controllers\Bugsnag' not found"
When I attempt to use Bugsnag::notifyException or Bugsnag::notifyError, I get the following error (captured in bugsnag itself)

Symfony\Component\Debug\Exception\FatalErrorException
Class 'App\Http\Controllers\Bugsnag' not found

This in a Laravel 5.0.x app

[2015-06-16 13:46] frankiecmk commented on #58
# Add the `BugsnagFacade` to the `aliases` array
'aliases' => array(
    ...
    'Bugsnag' => 'Bugsnag\BugsnagLaravel\BugsnagFacade',
)

[2015-06-16 23:01] loopj commented on #58
@raja looks like @frankiecmk already answered this one, you'll need to make sure you add the BugsnagFacade to the aliases array!

[2015-06-16 23:01] #58 closed

[2015-06-22 09:09] matiux opened #60 "Lumen - Class 'Bugsnag\\BugsnagLaravel\\ServiceProvider' not found"
There is a problem with Lumen Service Provicer.
in BugsnagLumenServiceProvider.php missing inclusion of Illuminate\Support\ServiceProvider so when runs, gives this error

Class 'Bugsnag\\BugsnagLaravel\\ServiceProvider' not found in /.../vendor/bugsnag/bugsnag-laravel/src/Bugsnag/BugsnagLaravel/BugsnagLumenServiceProvider.php on line 4

Temporarily I have solved adding

use Illuminate\Support\Serv

[2015-06-26 09:58] andreascreten commented on #60
I also have this issue, any updates on this?

[2015-06-26 21:55] jessicard commented on #60
Hey @matiux and @andreascreten - I just merged https://github.com/bugsnag/bugsnag-laravel/pull/56 which should solve this issue. Thanks @cfralick!

[2015-06-26 21:55] #60 closed

[2015-07-06 03:30] Kryptonit3 opened #61 "update to support 5.1"
Please update this app, the instructions in the ReadMe.md, and on the website https://bugsnag.com/accounts/larabin/projects/laravel/integrate to support installation on 5.1

For starters, you need to update the `BugsnagLaravelServiceProvider.php` to publish config files properly in 5.1, and check/merge user settings.

Also, `config\app.php` needs to read
[code]

`php artisan config:publish bugsnag

[2015-07-06 18:19] #53 closed

[2015-07-09 11:36] gpmcadam commented on #53
For what it's worth, this issue happened to me because the **bootstrap/cache** directory was not writable by the webserver. Thanks to @Gavrisimo for the tip.

[2015-07-14 16:08] snmaynard commented on #61
@Kryptonit3 this should now be fixed in 1.6.0 - and it totally didn't come off as rude! Let me know if there are any other things we could do to improve the library. We are always looking for feedback!

[2015-07-14 16:08] #61 closed

[2015-08-07 23:00] fredrkr opened #64 "Configurable user fields"
Since you're already adding the id from the logged in user in both the Laravel and Lumen service providers, I propose that you let us configure which user-fields to include in the Bugsnag-report. This way, we avoid having to use global functions or calling setUser() ourselves to add user data.

I already forked the repo and commited a few changes to make this happen and it seemed to work fine. Hav

[2015-08-11 06:46] phaza opened #65 "Bugsnag requires an API key even if it's not supposed to report"
Even if you've set bugsnag to only report exceptions in production, it still requires an api key in other modes. Worst of all, it gets trapped in an endless exception loop where it throws an exception for no api key being present, and then catches it and tries to submit it. *repeat*.

I solved it by having my config look like this:
`'api_key' => env('BUGSNAG_API_KEY', ''),`
compared to:
`'api_key'

[2015-08-11 21:43] loopj opened #66 "Add configuration option to disable autonotification"
We should add a configuration option to disable adding of the laravel `error` hooks, in the case people want to add these hooks themselves:
https://github.com/bugsnag/bugsnag-laravel/blob/master/src/Bugsnag/BugsnagLaravel/BugsnagLaravelServiceProvider.php#L29

Thinking of using `autoNotify` in the bugsnag config.

[2015-08-13 22:07] fabbrikk opened #68 "Undefined index: HTTP_HOST"
When, for some reasons ,the variable $_SERVER['HTTP_HOST'] is null, this file generate an error
**Uncaught exception 'ErrorException' with message 'Undefined index: HTTP_HOST'** in
**vendor/bugsnag/bugsnag/src/Bugsnag/Request.php** on row 74,
[code]
I changed it to:
[code]
It's correct or I'm missing something? Why this can happen?

[2015-08-14 16:06] ecommerceappbook commented on #65
echo this issue. Thanks @phaza for pointing out this solution. I think either the doc needs to be updated or this "no api key" issue needs to be addressed.

[2015-09-10 10:35] raghavdotc opened #70 "Email Notifications for specific errors or excceptions"
An email triggered when errors and exceptions occur, to notify developers automatically.

[2015-09-27 06:46] og6k opened #74 "Where to add username exception"
In the tutorial on laracast, Jeffrey Way put it in the global.php file. I do not have that file in laravel 5.1. How do I implement the extra config? Do I have to create the global.php file?

[2015-10-03 03:30] atrauzzi opened #75 "Remove example code that has a class named "User" in the namespace "App" from distribution archive"
Just added your library to my project and my IDE is quite upset that there are multiple definitions for `App\User`.  It's fairly eager to scan all project directories and as a result, thinks that in some way your sample code could end up being executed.

[2015-10-06 00:12] snmaynard opened #76 "Update installation instructions to only publish bugsnag assets"
"php artisan vendor:publish" publishes for all packages not only bugsnag, since this command has unwanted sideffects when using other packages it should be changed to only publish bugnsag info.

There are to options that might help
--provider[=PROVIDER] The service provider that has assets you want to publish.
--tag[=TAG] One or many tags that have assets you want to publish. (multiple values allo

[2015-10-09 13:52] atrauzzi opened #77 "Do not boot client if not in an environment that requires bugsnag"
If I'm in an environment that won't be making use of bugsnag, the library shouldn't require that a key even be provided.  It should just fall through back to normal Laravel error reporting without attempting to instantiate the client.

[2015-10-14 03:46] vicker commented on #58
@frankiecmk @loopj How about Lumen?

[2015-10-29 15:59] koorb commented on #77
I agree, my continuous integration tests are failing because I'm not specifying an API key

[2015-11-09 18:23] hadifarnoud opened #78 "laravel 4.2 no longer logs anything"
after installing Bugsnag, Laravel is no longer logging anything on Laravel.log

I have the Bugsnag on Production and Staging turned on. I also have the following on filters.php

[code]

[2015-11-20 18:16] kattrali commented on #76
Fixed by #79!

[2015-11-20 18:16] #76 closed

[2015-11-28 22:51] marcorivm commented on #76
This needs to be updated here too:
https://bugsnag.com/accounts/scitus/projects/laravel-6/integrate

[2015-12-01 13:40] aewing opened #80 "Not functioning"
I've included this package and have published the mentioned configs and set up my API key in .env; I have extended my Exception Handler as instructed. I am not getting any exceptions in my BugSnag control panel, even when calling Bugsnag::notifyError('ErrorType', 'Test Error'); from tinker.

[2015-12-05 02:26] scottconnerly opened #81 "More configs"
Currently, the config file only allows 5 things to be configured. However, in https://github.com/bugsnag/bugsnag-php/blob/master/src/Bugsnag/Configuration.php there are many more configurations available. I'm most interested in being able to set Bugsnag_Configuration::hostname, but could definitely see using other ones from there too.

[2015-12-08 19:24] kattrali commented on #81
Hi @scottconnerly! I just shipped version 1.6.2, which adds the ability to set the existing configuration options via [environment variables](https://github.com/bugsnag/bugsnag-laravel#environment-variables), as well as [adding documentation for how to leverage the options in the PHP notifier directly](https://github.com/bugsnag/bugsnag-laravel#configuration-options). Hopefully this helps.

[2015-12-08 19:24] #81 closed

[2015-12-08 19:24] kattrali commented on #80
Hi @aewing, can you provide some additional information:

- What version of Laravel are you using?
- What version of PHP are you using?

[2015-12-08 21:08] scottconnerly commented on #81
How would I set the value in bugsnag/bugsnag-php for Bugsnag_Configuration::hostname? It still seems to be locked away. Could you add a mechanism that allows me to set any bugsnag-php config by way of the bugsnag-laravel config?

[2015-12-09 15:10] scottconnerly commented on #81
PR #82 would take care of this issue. Would you please consider accepting it? Thanks -SC

[2015-12-09 16:31] ZacheryPD opened #83 "Bugsnag Laravel 5.1 Issue"
I am seeing what I think is a similar problem to #78.  I am using php version 5.6.10 and laravel 5.1.

My Exception/handler.php:
<pre>
//use Illuminate\Foundation\Exceptions\Handler as ExceptionHandler;
use Bugsnag\BugsnagLaravel\BugsnagExceptionHandler as ExceptionHandler;
</pre>

I've only made one change to my config/Bugsnag.php
<pre>
	'notify_release_stages' => null, //['production', 'staging'

[2015-12-11 22:42] kattrali commented on #81
Ah, I think I misunderstood. The current behavior allows for setting additional configuration options via the global `$bugsnag` object ([which is available on on `app`](https://github.com/bugsnag/bugsnag-laravel/blob/master/src/Bugsnag/BugsnagLaravel/BugsnagLaravelServiceProvider.php#L55)), so you should be able to use `$bugsnag->setHostname` and get the desired effect.

[2015-12-16 09:10] arthurkirkosa opened #85 "BUGSNAG_NOTIFY_RELEASE_STAGES is ignored"
[code]

Though I'm on the local env I still see errors reported to bugsnag.com

[2015-12-16 09:17] arthurkirkosa commented on #85
Ok, my bad! :) ... I had to restart the server in order to pick up the new env variables; previously I had it set to 'production' (as a string) and I saw it needed it to be an array.

[2015-12-16 09:17] #85 closed

[2016-01-05 17:06] kattrali commented on #77
Thanks for the report @atrauzzi. This makes a lot of sense, and should be fixed soon in #86. Closing this however as a duplicate of #65.

[2016-01-05 17:06] #77 closed

[2016-01-06 15:51] atrauzzi commented on #77
:+1: :D

[2016-01-14 18:53] viezel opened #87 "Feature: Whitelist exceptions"
Would be very nice to be able to put an array of whilelisted exceptions in the config. Often you use Exceptions in API responses, like validation etc. But such an exception should not go to Bugsnag, since its thrown by design.

Can you add this?

[2016-01-15 18:53] dennisoderwald commented on #64
+1

[2016-01-15 21:12] paulredmond opened #88 "Lumen 5.1 Auth Check Can Break Exception Responses Unexpectedly"
While this might not be a direct Bugsnag issue, it is related to the way the Bugsnag service provider is resolved that triggers this potential issue.

I am running into an issue with the `Bugsnag\BugsnagLaravel\BugsnagLumenServiceProvider` provider in a Lumen 5.1 environment (see [this block of code](https://github.com/bugsnag/bugsnag-laravel/blob/master/src/Bugsnag/BugsnagLaravel/BugsnagLumenServ

[2016-01-15 21:13] paulredmond commented on #88
I am willing to write up a pull request with documentation or making the authorization settings optional when resolving the `bugsnag` service. Let me know which route (if any) you prefer.

[2016-01-18 14:13] kattrali commented on #88
Hi @paulredmond, thank you for the very detailed report. It sounds like we need of both solutions, documenting the `memcached` requirement and perhaps making the block optional. Using auth sounds like it would be fairly standard, so the documentation fix is probably the priority.

[2016-01-18 16:22] paulredmond commented on #88
@kattrali thanks for getting back to me. Another thing I realized is that the latest Lumen 5.2 release doesn't support session state (see [5.2 Authentication](https://lumen.laravel.com/docs/5.2/authentication)), so i think this issue only affects <= [Lumen 5.1](https://lumen.laravel.com/docs/5.1).

[2016-01-19 11:33] kattrali commented on #88
Gotcha, thanks for the update, @paulredmond.

[2016-01-23 16:57] canfiax opened #89 "Argument 1 passed to Bugsnag_Error::setPHPException() must be an instance of Exception, instance of ParseError given"
I am running php 7.0 on a homestead server, but I am getting following error:

    Symfony \ Component \ Debug \ Exception \ FatalThrowableError (E_RECOVERABLE_ERROR) Type error: Argument 1 passed to Bugsnag_Error::setPHPException() must be an instance of Exception, instance of ParseError given, called in /home/vagrant/Projects/project/vendor/bugsnag/bugsnag/src/Bugsnag/Error.php on line 36

What

[2016-01-28 15:24] o5 commented on #89
I have same error. I think, [this commit](https://github.com/bugsnag/bugsnag-php/commit/679ff2f4972b01c6f6b833d4c50dd379e0f32e89) does not cover all cases.

[2016-01-28 17:38] kattrali commented on #89
Hi @canfiax, I just released an update to bugsnag-php (v2.6.1), which includes a fix for this issue. You should be able to `composer update` to resolve this.

[2016-01-28 17:38] #89 closed

[2016-01-29 02:43] snmaynard commented on #80
Closing as we haven't heard back.

[2016-01-29 02:43] #80 closed

[2016-01-29 04:14] snmaynard commented on #70
Bugsnag already does this - you can configure email notifications in your dashboard!

[2016-01-29 04:14] #70 closed

[2016-02-03 21:59] ctrlaltdylan opened #90 "Lumen 'bugsnag' registration broken"
It appears there's something wrong with the ServiceProvider, the container is not aware the class 'bugsnag' is registered.

[2016-02-03 22:18] ctrlaltdylan commented on #90
Figured out the problem.

It's more of an issue with documentation. The LumenBugSnagProvider expects the auth class to be bound to the container when in fact out of the box it's not. If you're using Lumen 5.2 be sure to register the `AuthServiceProvider` in `/bootstrap/app.php`

[2016-02-03 22:18] #90 closed

[2016-02-04 15:26] lasselehtinen opened #91 "notifyException creates Segmentation fault on Lumen 5.2"
Hi,

I've noticed that the package segfaults with combination of Lumen 5.2 and PHP 7.0.x. Lumen 5.1 does not seem to be affected. Here are steps to reproduce:

[code]

Then add these two lines to app/bootstrap.php after line 83 + set the config for API key.

[code]

If I remove the second line, it works just fine. The backtrace from gdb looks something like this and it just repeats the same three

[2016-02-05 02:47] kattrali commented on #91
Thank you for the report, @lasselehtinen. I'm taking a look.

[2016-02-08 17:23] bkuhl commented on #83
Your config file path should be `config/bugsnag.php`, not `Bugsnag.php`

[2016-02-08 17:24] bkuhl opened #92 "Requires publishing configuration"
Currently this package requires that configuration be published.  This is an annoying step and it would be ideal if we didn't have to publish the config and the package would read the environment variables out of the box.

[2016-02-09 09:51] rap2hpoutre commented on #91
Same problem +1. Does it work with an older version of bugsnag?

[2016-02-11 18:59] MichaelObi commented on #83
I have this exact issue and it has nothing to do with the config file name from what i can tell.
Running `Bugsnag::notifyError("ErrorType", "Something bad happened here too");` sends an error successfully to my dashboard. It's really frustrating me.

[2016-02-12 12:30] pafelin opened #94 "Laravel 4.x version of the package"
Hi,

According to the documentation from your [website](https://bugsnag.com/docs/notifiers/laravel#laravel-older-versions) to run the bugsnag package for laravel on an older version like 4.2 you need to install ```bugsnag/bugsnag-laravel:1.*``` . That will install the current 1.6.3 version of the package.

Till now everything is good but in the versions after 1.2.1 this class [Illuminate\Foundatio

[2016-02-25 18:22] lasselehtinen commented on #91
@kattrali Any updates on this one? I might have to go live with one Lumen application and I considering if I should downgrade to Lumen 5.1 so I can get the nice Bugsnag reports.

[2016-02-29 10:42] robdudley opened #95 "Call to undefined method Bugsnag_Client::setStripPath()"
I'm getting the below Error from Bugsnag in a Laravel 5.1 install.

It doesn't seem to happen on all errors but it's definitely an issue as it prevent exceptions from being sent to BugSnag and intercepts the original exception preventing debugging via the log.

[code]

[2016-03-02 17:57] chicag0 commented on #83
I'm also having this issue (No errors in BugSnag unless I send them from Tinker).  Running Laravel 5.0 rather than 5.1

[2016-03-04 11:26] dimsav opened #96 "[Help] Pass appVersion parameter"
Hello,

I noticed today that bugsnag can display the app version used when an exception has been thrown.

How can we pass the app version as meta information to bugsnag? Is that even possible?

Many thanks!

[2016-03-07 21:33] lasselehtinen commented on #91
@kattrali I guess I found out the problem. I tested this again on PHP 7.0.3 and now instead of segmentation fault I get the following error:

[code]
Seems like the culprit is here. The auth check causes a nested loop in Lumen that never gets resolved. Commenting this try block resolves the issue but naturally I won't get the User ID attached.

https://github.com/bugsnag/bugsnag-laravel/blob/master

[2016-03-07 21:50] lasselehtinen commented on #91
Here is a work-around for now. In bootstrap/app.php uncomment the following lines:
[code]

[2016-03-21 10:16] rap2hpoutre commented on #91
@kattrali Any updates?

[2016-03-28 19:02] kattrali commented on #96
Sure, you can set `appVersion` manually on the `$bugsnag` object. [Here is the documentation in bugsnag-php](https://github.com/bugsnag/bugsnag-php#setappversion).

[2016-03-28 19:02] #96 closed

[2016-04-02 04:57] gweiss27 opened #98 "dynamic data in setBeforeNotifyFunction"
Hi,

I am new to bugsnag and so far it looks pretty cool!  However, I am trying to figure out how to do something that's important for my needs.

I would like to pass dynamically set metadata to the beforeNotify function so I can add whatever json metadata packages with any notifyError/exception call that I require or deem necessary.

Every example illustrates how to send pre-set, hard-coded data

[2016-04-05 16:00] CristianGiordano commented on #87
You can use the `$dontReport` attribute.

[2016-04-05 16:12] GrahamCampbell commented on #87
Yeh, this feature already exists.

[2016-04-05 22:11] kattrali commented on #98
@gweiss27 provided the function could access the state of the application outside of the function, there is no reason you couldn't do something like:

[code]

Does that answer your question?

[2016-04-07 15:02] ArondeParon opened #99 "Setting user metadata results in ID being reset to IP address"
The following code results in the `id` property from being reset to the IP address of the user.

	$error->setMetaData([
	    'user' => [
	        'id' => $user->id,
	        'name' => $user->username,
	        'email' => $user->email
	    ]
	]);

I have also tried setting only the `name` and `email` properties, but this, also, results in `id` being reset.

[2016-04-15 00:17] shineability commented on #77
Hello!

New message, please read <http://autoinsurance365.xyz/talk.php?4i>

Maarten@troonbeeckx.net

[2016-04-15 00:17] shineability commented on #77
Hello!

New message, please read <http://brentallsupvacationspots.com/several.php?uem>

Maarten@troonbeeckx.net

[2016-04-27 15:21] joydasolive opened #102 "Caught PDOException can not be sent to Bugsnag"
I am catching all exceptions and return appropriate responses from the controller. Before returning the response, I log them to the file as well as sending them to Bugsnag. This works for all the exceptions but PDOException. When this exception occurs, the log writes fine but it doesn't get to Bugsnag and my custom response doesn't get returned. instead I get a 500 error. So something must have go

[2016-04-28 23:46] avasa opened #103 "502 Bad Gateway"
Hi,

I am getting a 502 on my local environment whenever I switch ExceptionHandler to BugsnagExceptionHandler.

Someone else has also reported the issue, which can be seen below.

http://stackoverflow.com/questions/31428057/guzzlehttp-kills-php-fpm-when-trying-to-post-to-ssl-secured-url

Does anybody have any suggestions?

Thanks in advance.

[2016-05-16 23:41] kattrali commented on #75
Having an example with a class named "User" in an "App" seems like a fairly common case for our users, so it doesn't make sense to remove the example. Perhaps there is an editor setting to prevent this edge case?

[2016-05-16 23:41] snmaynard commented on #87
Yeah you can return false from a beforeNotify function as mentioned [here](https://github.com/bugsnag/bugsnag-php#setbeforenotifyfunction)

[2016-05-16 23:41] #87 closed

[2016-05-16 23:50] snmaynard commented on #98
Closing due to inactivity

[2016-05-16 23:50] #98 closed

[2016-05-17 15:04] atrauzzi commented on #75
@kattrali Your examples are entire laravel projects.  You shouldn't be doing this.

Move them to another repository, or at the very least change the namespaces used for the example projects to be something like `Example\App\User`, etc...

Editor settings would have to be set manually, once for each package that was careless enough to make this mistake.  You think it's acceptable to make everyone h

[2016-05-17 18:04] kattrali commented on #75
Indeed. The intent is that they are runnable and can test that the integration is working properly, not that they are included in production code, in an `Example` namespace or otherwise.

[2016-05-17 22:16] atrauzzi commented on #75
Doesn't matter, most IDEs will pick up on the code.  You are making a bad assumption that what you have done is normal.

[2016-05-18 06:48] philbates35 commented on #75
Have to agree with @atrauzzi on this one. You could add the `examples` directory to `.gitattributes` too exclude it from there package version of the repo? That way the examples would exist in the GitHub repo for reference, but not in the application's `vendor` directory.

[2016-05-18 12:36] atrauzzi commented on #75
Yeah, so long as it results in the files not showing up, then it would be an acceptable solution.

All the static analyzers I've seen don't work by reading the composer manifests, they work by manually crawling the entire project directory and building their own "view of the world".
Putting entire Laravel projects inside of a package is guaranteed to create headaches and there is a reason why *nob

[2016-05-18 15:40] kattrali commented on #75
That's a good idea actually. I'd like the examples to be readily available in the repository but am open to it not being in the packaged distribution.

[2016-05-18 16:46] #75 closed

[2016-05-18 16:47] kattrali commented on #75
I checked the packaged archives and while the laravel library was packaged with exclusions properly, the base PHP library didn't have them, which was fixed by https://github.com/bugsnag/bugsnag-php/commit/aa2cad9e32a7e5ce35b3699c3637079646a1c2e7 . Thanks!

[2016-05-18 18:21] atrauzzi commented on #75
@kattrali - Much better!  I don't know if it's apparent, but I was dismayed that this ticket was closed without proper consideration.  Moreso that it took another person to "drive the point home" before you were willing to reconsider.
If something you intended to be helpful ends up sabotaging tooling like phpstorm (probably THE most popular PHP IDE), it stands to reason something is wrong.  From y

[2016-05-25 16:24] sonicfive commented on #58
Simple. Place a backslash before you call it:
`\Bugsnag::notifyException(new \Exception("My amazing exception"));`

[2016-06-02 07:13] nickurt opened #105 "Uncaught ReflectionException: Class bugsnag does not exist ..."
Hello,

I am using this plugin for a long time, but since today I can't get it working after

    php composer.phar update

I'm getting;

    PHP Fatal error:  Uncaught ReflectionException: Class bugsnag does not exist in [..]/bootstrap/cache/compiled.php:1291

Any idea how to solve this?, I'm using Laravel 5.1.36 with the latest version of bugsnag-laravel ...

[2016-06-02 09:45] GrahamCampbell commented on #105
It looks like your application is crashing before bugsag's service provider was registered.

[2016-06-02 10:22] nickurt commented on #105
Thanks, I did a rollback and updated the plugins again, after that all was working fine. It looks like something crashed during the update.

[2016-06-02 10:22] #105 closed

[2016-06-08 13:50] mverma16 opened #106 "Allow disable notifying"
Hi,
We've implemented bugsnag in our [project](https://github.com/ladybirdweb/faveo-helpdesk) and we want to provide end user an option to disable bugsnag reporting.
Can I set an environment variable in config to disable bugsnag reporting while handling errors? Is there any way to do this?

[2016-06-09 11:33] simplenotezy opened #107 "Correct placement of setBeforeNotifyFunction"
Where is would be a proper place to put `setBeforeNotifyFunction`? I have tried into Handler.php@report, however meta data is not being sent when I view in Bugsnag.

![image](https://cloud.githubusercontent.com/assets/3786627/15928360/bab509de-2e46-11e6-96a5-fb09f466dd3a.png)

[2016-06-15 00:02] kattrali commented on #106
Hi @mverma16. Actually yes, you can disable Bugsnag reporting a few ways. First, you can set [`BUGSNAG_NOTIFY_RELEASE_STAGES`](http://docs.bugsnag.com/platforms/php/laravel/configuration-options/#environment-variables) to exclude the unwanted release stage (for example, if you do not want to report errors from `development`, you could set it to `production`. Alternately, you can disable automatic

[2016-06-15 04:32] mverma16 commented on #106
I contacted bugsnag support and they suggested to return false in callback function based on user's selected option for reporting.
`Bugsnag::setBeforeNotifyFunction(function ($error) {
                return false;
            });`
Which worked for me. @kattrali, I'll try to setAutoNotify as false now and let you know if it works or not.

[2016-06-15 04:32] #106 closed

[2016-06-15 13:18] stueynet commented on #87
@CristianGiordano can you provide any more detail on that? Put the $dontReport attribute where? Similar with the beforeNotify function. Where is that supposed to go? I don't reference Bugsnag anywhere in my application. It just works out of the box with a bit of config. So where in our application are we meant to put this stuff? Would be great if the documentation had one or two more sentences.

[2016-06-21 08:35] GrahamCampbell commented on #95
It looks like you installed an old version of the Bugsnag PHP Client library. Please let us know if you're still experiencing issues after upgrading.

[2016-06-21 08:35] #95 closed

[2016-06-21 10:08] GrahamCampbell commented on #68
Under what conditions does this happen please? Are you running a console app?

[2016-06-21 10:11] GrahamCampbell commented on #68
Could you `var_dump($_SERVER)` for me please?

[2016-06-21 10:13] GrahamCampbell commented on #103
Thanks for getting in touch. Please check your PHP logs. I think there is being an exception thrown while trying to contact Bugsnag's servers. This could be due to failed SSL negotiation.

[2016-06-21 10:13] GrahamCampbell commented on #102
Thanks for getting in touch. Could you please check your php level log file to see what the exception is so we can fix this for you?

[2016-06-21 10:14] GrahamCampbell commented on #99
Where are you calling this please?

[2016-06-21 10:17] GrahamCampbell commented on #65
Right, this is because we're booting everything in order to decide if we need to log or not. We're looking into doing some refactoring to address this. I'll get back to you soon.

[2016-06-21 10:18] GrahamCampbell commented on #83
Are there any errors in your php level log file please?

[2016-06-21 10:18] GrahamCampbell commented on #92
Thanks for getting in touch. Sounds good to me. Are you able to send a PR please?

[2016-06-21 10:22] GrahamCampbell opened #114 "Drop support for L4 in the next major version"
Only L5.1 and upwards are maintained by Laravel.

[2016-06-21 10:32] GrahamCampbell commented on #74
What Laravel version are you using please?

[2016-06-21 10:33] GrahamCampbell commented on #91
It looks like we have an infinite loop resolving the current user here.

[2016-06-21 10:37] GrahamCampbell commented on #91
I guess this is happening because the authentication stuff hasn't been bootstrapped. I'm not quite sure how we can detect this. It looks like a bug in Lumen itself that the manager can go into a loop like this, but we definitely need to look into us avoiding it.

[2016-06-21 10:37] GrahamCampbell commented on #91
I'm going to have a chat with Taylor about this.

[2016-06-21 10:46] #91 closed

[2016-06-21 10:47] GrahamCampbell commented on #91
This was fixed by https://github.com/laravel/framework/commit/511e7ab0e5c9f3f84608fb5431cccb8d7ebdbe08. Please let me know if you're still experiencing any issues. :)

[2016-06-21 13:33] bkuhl commented on #92
Looks like someone implemented that since this issue was created.

[2016-06-21 13:57] GrahamCampbell commented on #92
Doesn't looks like it? https://github.com/bugsnag/bugsnag-laravel/blob/master/src/config/config.php

[2016-06-21 14:09] bkuhl commented on #92
Ah... I looked at https://github.com/bugsnag/bugsnag-laravel#environment-variables.  I'll submit a PR

[2016-06-21 14:14] GrahamCampbell commented on #92
Thank you. :pizza:

[2016-06-21 17:41] fabbrikk commented on #68
Sorry but I changed from BugSnag to Sentry. I'll try again BugSnag later this year.

[2016-06-21 22:39] tachu commented on #41
I'm having the exact same error when running in Google app engine. They require you to run composer update from your environment and then deploying to appEngine. The app engine sandbox makes it so you can't write do disk. IS there a workaround for this? Why does it need to be able to write to disk if its already been composed?

t

[2016-06-24 10:58] #78 closed

[2016-06-24 10:58] GrahamCampbell commented on #78
We recommend you boot this stuff in the boot method of a service provider.

[2016-06-24 10:59] GrahamCampbell commented on #107
You can register it in the `boot` function of your app service provider.

[2016-06-24 11:03] GrahamCampbell commented on #64
Thanks. We're starting work on a new major version of this package soon. We'll take all the feedback into account.

[2016-06-24 11:07] GrahamCampbell commented on #94
Our installation docs for Laravel 4 are available here: https://github.com/bugsnag/bugsnag-laravel#laravel-older-versions.

[2016-06-24 12:07] hadifarnoud commented on #78
you have to update your install instructions then, I only followed that.

[2016-06-24 12:38] GrahamCampbell commented on #78
Sorry for any confusion. We're working on improving the docs.

[2016-06-24 12:58] simplenotezy commented on #107
Thanks!

Also, user[id] cannot be set. It will apparently always default to the IP.

[2016-06-24 13:07] simplenotezy commented on #107
My guess is that, this is a bug on Bugsnag's end though.

[2016-06-24 13:07] GrahamCampbell commented on #107
Oh, I see. The user isn't meta data. You need to set the user using the setUser function.

[2016-06-24 13:10] GrahamCampbell commented on #107
Looking at your code from the screen shot, I don't think that would resolve the correct function actually too.

[2016-06-24 13:10] simplenotezy commented on #107
Can you provide an example?

[2016-06-24 13:20] GrahamCampbell commented on #64
I'm about to add a setUser function to the error class on the current version so that should be available to everyone very soon.

[2016-06-24 13:20] GrahamCampbell commented on #64
Keeping this open though since we're not done yet.

[2016-06-24 13:20] GrahamCampbell commented on #64
Keeping this open though since we're not done yet.

[2016-06-24 13:21] GrahamCampbell commented on #107
I'm about to add a setUser function to the error class so that you can use that. Sorry about this!

[2016-06-24 13:21] GrahamCampbell commented on #107
I'll get back to you once we've shipped `v1.9.0` of our PHP library.

[2016-06-24 13:24] GrahamCampbell commented on #107
To explain what's going on here with the meta data behaving like this... On our side, we throw away the user information from the meta data if separate user data has been set. That's why this is happening (since the php library sets the user id to the IP address).

[2016-06-24 13:43] GrahamCampbell commented on #66
This will happen as part of https://github.com/bugsnag/bugsnag-php/issues/205. We can 100% allow laravel's exception handler to just do it's thing here.

[2016-06-24 13:43] #66 closed

[2016-06-24 14:37] GrahamCampbell commented on #107
You should be able to write this in the boot method of you service provider now:

[code]

The release of v2.9.0 is imminent.

[2016-06-24 14:50] GrahamCampbell commented on #107
Ok, the release is out: https://github.com/bugsnag/bugsnag-php/releases/tag/v2.9.0. Please let me know if you run into any problems with it.

[2016-06-24 15:05] #107 closed

[2016-06-24 15:06] #99 closed

[2016-06-24 15:06] GrahamCampbell commented on #99
You can't set the user by calling setMetaData. Instead call the setUser function. Please let me know if you still have any issues.

[2016-06-24 15:07] GrahamCampbell commented on #65
Yes, that looks just fine. :)

[2016-06-24 15:07] #65 closed

[2016-06-24 15:10] GrahamCampbell commented on #65
This will be fixed in the next release/

[2016-06-24 15:11] GrahamCampbell commented on #74
In Laravel 5.1, you can do this in the boot function of your app service provider.

[2016-06-24 15:11] #74 closed

[2016-06-24 15:11] #92 closed

[2016-06-24 15:14] GrahamCampbell commented on #66
@loopj See https://github.com/bugsnag/bugsnag-php/pull/213. Basically, if you're using laravel, you don't setup our handler. Otherwise, you might want to. The autoNotify config is no longer needed.

[2016-06-27 11:09] #83 closed

[2016-06-27 11:09] #102 closed

[2016-06-27 11:09] #103 closed

[2016-06-27 11:10] #64 closed

[2016-06-27 11:10] GrahamCampbell commented on #64
Done in 2.x of this package. You can set `user` to false in our config, and that will cancel the registration of our `AddUserMiddleware`.

[2016-06-27 11:10] GrahamCampbell commented on #64
I'll be writing full docs before we release.

[2016-06-27 11:13] #88 closed

[2016-06-27 14:59] #114 closed

[2016-06-27 14:59] #94 closed

[2016-06-27 15:00] #68 closed

[2016-06-27 15:29] MichaelObi commented on #83
Was the bug fixed? I dropped bugsnag for a while but will love to get back on it

[2016-06-27 15:31] GrahamCampbell commented on #83
I'm not able to replicate this issue. Perhaps you need to run `php artisan config:cache`?

[2016-07-05 18:38] RTLer opened #130 "lumen's don't report"
i used bugsnag in lumen project and use installation guide to install it, but i had problem `$dontReport` that just adding `$app('bugsnag')->notifyException($e, null, "error");` into report was ignored it, i pass it by adding an if like so:
[code]

[2016-07-05 18:45] GrahamCampbell commented on #130
Thanks. We're releasing a new major version soon that totally fixes all the lumen issues by overwriding the psr logger rather than overwriting the exception handler.

[2016-07-06 18:02] RTLer commented on #130
thx for the response

[2016-07-06 18:02] #130 closed

[2016-07-11 07:30] mverma16 commented on #68
@GrahamCampbell
please help we are getting these erros.
![1](https://cloud.githubusercontent.com/assets/10759797/16722805/b68d3348-4766-11e6-8f38-34e71cd36e9c.PNG)

![2](https://cloud.githubusercontent.com/assets/10759797/16722857/214e6512-4767-11e6-83c6-d96d99004c58.PNG)

Stack-trace shows bugsnag package's files, can you help to solve it, Please reply here or I have to open a new issue.

[2016-07-11 15:00] GrahamCampbell commented on #68
Thanks for getting in touch. A handshake timeout is something we can't do anything about. It means your server failed to complete the SSL negotiation in time. You could turn off SSL if you're having problems with this. If your bugsnag config file, set the endpoint to `Bugsnag_Configuration::$DEFAULT_NON_SSL_ENDPOINT`.

The fact that this error is crashing your application is not desirable though.

[2016-07-11 15:03] GrahamCampbell opened #140 "Http Errors getting thrown instead of logged"
https://github.com/bugsnag/bugsnag-laravel/issues/68#issuecomment-231661059

[2016-07-12 12:31] ChristianChoi opened #141 ""composer update" uses Bugsnag v3"
When performing a "composer update", Bugsnag is upgraded to the new major version 3, which the Service Provider (and more?) doesn't support yet.

[2016-07-12 12:41] #141 closed

[2016-07-12 12:42] ChristianChoi commented on #141
Was using 1.6 but issue seems to have been fixed in 1.7

[2016-07-12 16:06] GrahamCampbell commented on #141
Yeh, sorry about that. We'd recommend using the version constraint `^1.7` to be sure composer won't try to resolve 1.6 to satisfy some other requirements.

[2016-07-18 15:48] GrahamCampbell commented on #140
Whoops. Opened this on the wrong repo!

[2016-07-18 15:48] #140 closed

[2016-07-19 16:27] freekmurze opened #146 "Use Logging contract"
Hi,

would you consider to add the logging contract `Illuminate\Contracts\Logging\Log` on `Bugsnag\BugsnagLaravel\ LaravelLogger`?

This would solve issues like [this one at laravel-backup](https://github.com/spatie/laravel-backup/issues/170).

[2016-07-19 18:04] GrahamCampbell commented on #146
Thanks for getting in touch. Yes, of course. I'll look into this for you.

[2016-07-21 08:37] GrahamCampbell commented on #146
Please check out my PR and let us know what you think.

[2016-07-21 22:26] freekmurze commented on #146
Seems like a good solution to me! 👍

[2016-07-22 07:59] GrahamCampbell commented on #146
Please let me know if it works for you. If so, I'll look into getting a release out soon with this change in.

[2016-07-22 14:50] aaronhuisinga commented on #146
Using the latest Laravel Backup release and this PR, I was successfully able to run a backup and use the notifier. Seems like this does the trick!

[2016-07-22 23:39] #146 closed

[2016-07-23 09:02] GrahamCampbell commented on #146
We will release this on monday is there are no issues discovered, :)

[2016-07-23 19:13] freekmurze commented on #146
Thank you very much!

[2016-08-04 08:04] GrahamCampbell opened #161 "Guzzle 5/6 Changes"
Once the other changes have landed in develop on the main library, we need to update this one.

[2016-08-04 08:56] GrahamCampbell opened #162 "Automatically set the app type"
Something like:

[code]

needs adding.

[2016-08-04 22:17] GrahamCampbell opened #168 "Write output to console when running bugsnag:deploy"
Just something to let us know we're notifying bugsnag instead of no output.

[2016-08-05 05:53] kattrali commented on #162
Why?

[2016-08-05 06:54] GrahamCampbell commented on #162
Otherwise the app type is always unset. I think web and consolake good defaults, right?

[2016-08-05 06:55] GrahamCampbell commented on #162
Unset unless the user sets them of course, but they still can set something different on top if they want.

[2016-08-05 09:36] #161 closed

[2016-08-05 10:39] #168 closed

[2016-08-05 13:17] kattrali commented on #162
Sure, though I was wondering if it helps you debug in some way to know if it's console vs. web.

[2016-08-05 13:30] GrahamCampbell commented on #162
Yeh, definitely, in the same way it's useful to know if it was Sidekiq or not on ruby.

[2016-08-05 14:31] #162 closed

[2016-08-07 12:20] b12k opened #175 "Notifications from Tinker"
Greetings!
I have a problem.
I've set Bugsnag up according to official instructions https://docs.bugsnag.com/platforms/php/laravel/ and those on dashboard ("integrate now").
When I try to do a test error notification using ```php artisan tinker``` nothing happens, no errors, no Bugsnag requests (I use Fiddler), nothing at all. Dashboard stays empty =(

http://prntscr.com/c2ntlz

[2016-08-07 12:43] GrahamCampbell commented on #175
Thanks for getting in touch. Have you setup the API key correctly? Please run `config('bugsnag')` to check the config is set. It it does not appear, perhaps you forgot to run `php artisan config:cache`?

[2016-08-07 13:28] koenvu commented on #175
Not sure if this is related, but check your PHP error log and see if there is anything related to a cURL error 60 related to SSL certificates.

If so, you might need to download the cert bundle from somewhere and add that to your PHP config. See this link as well: https://laracasts.com/discuss/channels/general-discussion/curl-error-60-ssl-certificate-problem-unable-to-get-local-issuer-certificate/

[2016-08-07 13:29] GrahamCampbell commented on #175
You shouldn't need to download a curl bundle. We already have a fix in place for that.

[2016-08-07 13:31] koenvu commented on #175
Since when? This solved my issue literally last night.

<img width="1310" alt="php_error_log" src="https://cloud.githubusercontent.com/assets/1215751/17462649/f3e88c30-5cb3-11e6-8e72-c750152d2f23.png">

[2016-08-07 13:31] GrahamCampbell commented on #175
Since our very latest release. :)

[2016-08-07 13:31] koenvu commented on #175
Sweet 👍

[2016-08-07 14:27] koenvu commented on #175
Attempt no. 2 at helping you: when notifying from Tinker, you might have to `exit` out after the `Bugsnag::notifyError`, because it might add the message to a queue which is emptied when finishing the request, i.e. when you finish your Tinker session. Closing out using Ctrl+C won't work, you might really have to use the `exit` command. Don't know if you tried that already.

[2016-08-07 14:29] GrahamCampbell commented on #175
Oh, right, yes, that is correct. We enable batch sending by default. You can call `Bugsnag::flush()` to force it to send the queued messages to Bugsnag. By default we do this between queue jobs in the daemon queue, or on shutdown.

[2016-08-07 16:21] b12k commented on #175
Hmmm...
Sorry fellows but I didn't get what should I do to make it work =(
(Just did ```composer up```)
http://prntscr.com/c2q50m

Just FYI: Win10 + Xampp

[2016-08-07 16:45] b12k commented on #175
Ah OK... waiting this to be merged https://github.com/bugsnag/bugsnag-laravel/pull/176

[2016-08-09 01:14] #175 closed

[2016-08-16 22:25] paulredmond opened #180 "Using Bugsnag Multi in Lumen"
I am trying to integrate the `bugsnag.multi` alias so I can continue to get physical logs and also send them to bugsnag. I think I am missing something, any help would be appreciated.

I am not quite sure how to configure it properly, my interpretation of the [documentation](https://docs.bugsnag.com/platforms/php/laravel/#reporting-unhandled-exceptions) was:

[code]

The `$app['log']` dependency f

[2016-08-17 06:58] GrahamCampbell commented on #180
Please can you show me your whole file where you register these service providers.

[2016-08-17 10:00] GrahamCampbell commented on #180
I've replicated this issue on our example app.

Please could you change the register code to the following:

[code]

[2016-08-17 13:38] rickytribbia opened #181 "Uncaught exception 'ReflectionException' with message 'Class bugsnag.logger does not exist'"
My `composer.json` contains:

[code]

Into my `config/app.php` I have:

[code]

and:

[code]

My `AppServiceProvider.php` contains:

[code]

In my `.env` file I set `BUGSNAG_API_KEY`.

And I continously get the error (running `php artisan serve` or `composer update`, etc):

[code]

What am I doing wrong?

[2016-08-17 16:18] GrahamCampbell commented on #181
Make sure you've put the bugsnag service provider above your app provider, and that you've run `php artisan config:cache`.

[2016-08-17 18:20] paulredmond commented on #180
@GrahamCampbell thanks for investigating my issue, this clears it up. I've been using Laravel for a while, but I wasn't familiar with `extend`, thanks 👍

[2016-08-17 21:06] GrahamCampbell commented on #180
I don't think it's actually documented anywhere in the laravel docs.

[2016-08-18 08:58] rickytribbia commented on #181
You're right, I put the service provider above app provider and it changes error:

[code]
(and I already have my `BUGSNAG_API_KEY` in `.env` file)

I solved it publishing config with:
[code]

I see that the "service provider" order is suggested into [this doc page](https://docs.bugsnag.com/platforms/php/laravel/) but it isn't into bugsnag dashboard integration instructions.

In all docs I see that

[2016-08-18 09:10] GrahamCampbell commented on #181
Interesting. That shouldn't be necessary, but that's the 2nd report we've had. I'm going to look into this in more detail and get back to you.

[2016-08-18 09:13] #180 closed

[2016-08-22 12:41] richbradshaw opened #194 "Requires bugsnag/bugsnag which doesn't exist…"
When using:

`"bugsnag/bugsnag-laravel": "1.7.0",`

in my composer.json file, I recently get this error which didn't happen previously.

[code]

This means I can't update composer anymore, so we'll have to stop using Bugsnag.

Can you help?

Thanks!

[2016-08-22 12:43] GrahamCampbell commented on #194
Please can you provide your whole composer.json file?

[2016-08-22 12:43] richbradshaw commented on #194
{
    "name": "laravel/laravel",
    "description": "The Laravel Framework.",
    "keywords": ["framework", "laravel"],
    "license": "MIT",
    "require": {
        "laravel/framework": "4.2.*",
        "maatwebsite/excel": "~1.3.0",
        "laravelbook/ardent": "2.*",
        "guzzlehttp/guzzle": "4.*",
        "patricktalmadge/bootstrapper": "~5",
        "barryvdh/laravel-ide-helper": "~1.11

[2016-08-22 12:44] richbradshaw commented on #194
Thanks - I wonder if the bugsnag/bugsnag repo has been deleted?

[2016-08-22 12:44] GrahamCampbell commented on #194
No, it definitely hasn't. It should work.

One moment please.

[2016-08-22 12:55] GrahamCampbell commented on #194
Please run `composer self-update && composer clear-cache && rm -rf vendor composer.lock`, and replace your composer.json with the following:

[code]

Then, just run `composer install`.

I just tried this out, and it worked for me:

[code]

[2016-08-22 13:00] richbradshaw commented on #194
OK, give me 10 seconds

[2016-08-22 13:04] richbradshaw commented on #194
Still waiting on updating dependencies - I'll close and comment here as soon as it's working on this end - thanks for your help.

[2016-08-22 13:08] richbradshaw commented on #194
Awesome - thanks for your help Graham.

Just a quick question - was that me or bugsnag? Could I have fixed that on my own? (Also, thanks for pinning our dependencies - is there a quick way to do that or did you just require each of them again manually?)

[2016-08-22 13:10] GrahamCampbell commented on #194
I just went through your composer.json and normalized your dependencies. Together with the composer self-update and the cache clear, that will have fixed it. Composer is full of bugs related to caching causing incorrect dependency resolution. When in doubt, clear the cache and self-update. :)

[2016-08-22 13:10] #194 closed

[2016-08-22 13:21] richbradshaw commented on #194
Awesome, thanks for your help.

[2016-08-22 13:24] GrahamCampbell commented on #194
Pleasure!

[2016-09-01 17:02] gabrielpeixoto opened #195 "2.3.0 - configuration file should not be required"
I updated my Laravel to 5.3 and bugsnag-laravel to 2.3.0.

I had not published the configuration file before using `vendor:publish`, because at https://docs.bugsnag.com/platforms/php/laravel/ it states that:
"If you’d like to configure Bugsnag further, create and edit a configuration file"

However during the update I got an error because in `$config = $app->config->get('bugsnag');` $config was NU

[2016-09-01 18:05] #195 closed

[2016-09-01 18:06] GrahamCampbell commented on #195
No need to publish. Just make sure you run the config:cache command after making changes.

[2016-09-01 18:13] gabrielpeixoto commented on #195
Perfect!

[2016-09-07 09:45] catalinux commented on #91
I have the same problem with Lumen when I use

[code]

From docs:

[2016-09-07 09:56] GrahamCampbell commented on #91
Thanks for getting in touch. It looks like you're using the Laravel way rather than the Lumen way.

You can read about the Lumen way on our Lumen specific docs:

---

We're also planning to update our Laravel docs to make it clearer that we have Lumen docs too.

[2016-09-07 10:29] catalinux commented on #91
@GrahamCampbell you are right. My fault

[2016-09-08 14:23] swilla opened #201 "setUser in AppServiceProvider boot not working"
I'm having trouble setting the user meta data, I'm not using the built-in Laravel Auth, so I added the following to the boot method in the AppServiceProvider:

[code]

It seems like it's not detecting the logged in user.  It's almost like the boot method is being called before the user session is there.

[2016-09-08 21:10] GrahamCampbell commented on #201
I think that's probably true, however that's not a bug in our code, rather, a bug in your code there.

One moment please while I provide you with some code that should work...

[2016-09-08 21:15] GrahamCampbell commented on #201
[code]

[2016-09-09 18:46] swilla commented on #201
Thanks for the suggestion, this didn't work for me either.  As a work around, I placed this call back in the OAuthServiceProvider right after the user is retrieved.  Thanks for the suggestion. Hopefully I can get rid of Sentry soon enough.

[2016-09-09 18:46] #201 closed

[2016-09-09 21:51] GrahamCampbell commented on #201
And you definitely put all this user resolving code inside the callback, and not outside? If you do that, it should make no difference where you put the code.

[2016-09-15 15:05] laravelian commented on #181
This just happened for me -- probably shouldn't close the issue?

[2016-09-29 17:34] slakbal opened #203 "How to use this package on Laravel 5.3"
Hi,

Tried to install according to the documentation on L5.3 project without any success sofar?

https://docs.bugsnag.com/platforms/php/laravel/

Look from the bugsnag site if this is the package it uses, right?

I'm going to upgrade the project to L5.3, hence the question. The Projet is currently on 5.2.*.

I think it here:

$this->app->alias('bugsnag.logger', \Illuminate\Contracts\Logging\Log::c

[2016-09-29 19:20] GrahamCampbell commented on #203
Installing on 5.3 is identical to installing on 5.2.

[2016-10-01 23:09] pdbreen opened #204 "Include monolog hander for Log:: facade"
Hey @GrahamCampbell  - I forked this repo (https://github.com/meadsteve/MonoSnag) to create a v3.4 compatible monolog wrapper (https://github.com/pdbreen/MonoSnag). Then, in AppServiceProvider::boot(), I added the following:

[code]

Seems like you might be able to roll this or something similar into your package with an appropriate config setting to set the logger level (or disable).

[2016-10-03 09:00] rossjcooper opened #205 "Cannot install into a Laravel 5.3 project"
I am trying to install using composer `composer require "bugsnag/bugsnag-laravel:^2.0"` into a Laravel 5.3.15 app but I am getting the following error from composer:

[code]

I am guessing bugsnags required version of guzzle cannot be met by what Laravel 5.3 is using?

[2016-10-03 09:04] GrahamCampbell commented on #205
Can I see your entire composer.json file please?

[2016-10-03 09:05] GrahamCampbell commented on #204
We already support integration with the psr logger, which is the standard. Can I ask why you need monolog please. I'm just trying to understand the use case. :)

[2016-10-03 09:07] rossjcooper commented on #205
I just noticed after you asked that @GrahamCampbell, what version of `guzzlehttp/guzzle` do you recommend for L5.3 and BugSnag.

[code]

[2016-10-03 09:11] GrahamCampbell commented on #205
That line there is your problem. Remove it if you're not using it, or upgrade to 5.x, or 6.x.

[2016-10-03 09:12] rossjcooper commented on #205
I don't remember ever specifically requiring `guzzlehttp/guzzle` to be honest, my app did start as a L5.1 project and I have followed upgrade paths.

[2016-10-03 09:12] GrahamCampbell commented on #205
Laravel only officially supports guzzle 5 or 6 for it's internal functions that use guzzle.

[2016-10-03 09:12] GrahamCampbell commented on #205
Guzzle 4 and bellow are EOL, and upgrading code from v4 to v5 often can have zero code changes.

[2016-10-03 09:16] rossjcooper commented on #205
Thanks @GrahamCampbell my bad, like I said I never noticed it in `composer.json` before nor remeber why its in there.

[2016-10-03 09:16] #205 closed

[2016-10-03 09:52] rossjcooper opened #206 "Registering in AppServiceProvider"
I am having an issue when adding  the following to my AppServiceProvider:

[code]

The app simply errors with 500 and cannot get it to output and error log anywhere.

Only thing I found was
`local.ERROR: exception 'ReflectionException' with message 'Class bugsnag.logger does not exist'`

[2016-10-03 10:01] GrahamCampbell commented on #206
Please make sure you put our service provider above the app provider.

[2016-10-03 10:11] rossjcooper commented on #206
Thanks again @GrahamCampbell I did try that and it turns out another package also needed to go above my app provider which never caused an error until I included this one.

[2016-10-03 10:11] #206 closed

[2016-10-03 12:20] pdbreen commented on #204
I've got an existing project that already makes use of the Laravel Log facade.  Without the monolog adapter, I couldn't find any way for Bugsnag to report on those errors.  Even tried adding a test log route to the laravel sample in the repo with no luck - only the exception test route would report to Bugsnag.

[2016-10-03 13:44] GrahamCampbell commented on #204
Ah, right, yeh. That is a limitation of Laravel where we can't rebind the facade.

[2016-10-03 13:44] GrahamCampbell commented on #204
If you resolve the logger interface from the ioc, that'll work though.

[2016-10-03 13:45] GrahamCampbell commented on #204
Like find and replace `Log::` with `app('Psr\Log\LoggerInterface')->`.

[2016-10-03 13:46] GrahamCampbell commented on #204
I guess the real way we can fix this in laravel's core is to change the facade binding to that interface, then it'll just work.

[2016-10-03 13:49] pdbreen commented on #204
Thanks - I should be able to switch from facade to ioc in this project (and will avoid the facade in future projects).  You can feel free to close this (or leave as possible future enhancement).  In either case, would be great to add a comment to the docs that the Log:: facade is not supported.

Thanks again

[2016-10-10 17:51] #204 closed

[2016-10-11 08:46] GrahamCampbell commented on #204
This could be fixed in L5.4 if I change the facade to use the psr interface.

[2016-10-11 08:47] GrahamCampbell commented on #204
https://github.com/laravel/framework/pull/15855

[2016-10-12 22:09] #203 closed

[2016-10-13 13:07] nfauchelle opened #208 "Setting user values in the report"
Hello,

I am having a hard time trying to populate some extra information into the BugSnag report. I have a Laravel 5.2 app running the latest bugsnag-laravel.

From the docs it says by default if the user is logged in, then the id will be included. I have tested this and I always just get the IP.

I am trying to set the id and also a company id. In my ```AppServiceProvider``` in the boot method I

[2016-10-13 20:55] GrahamCampbell commented on #208
Right, that's due to the fact that the session is not loaded yet in Laravel surely? Unrelated to Bugsnag?

[2016-10-13 20:56] GrahamCampbell commented on #208
If you move the session middleware off the routing layer over to the global layer, it'll get executed before routing happens so you should get the information on the reports.

[2016-10-13 20:58] nfauchelle commented on #208
@GrahamCampbell
Thanks for the reply.

We also run an API on some rotues, so global probably wouldn't be ideal.
What if in the _registerCallback_ function we started the session if it wasn't started already... ?

[2016-10-13 23:32] GrahamCampbell commented on #208
Then we'd try to start it on your API requests and cause Laravel to send back a session though.

[2016-10-13 23:32] GrahamCampbell commented on #208
I don't think it's Bugsnag's place to interfere with your app quite that much.

[2016-10-13 23:33] GrahamCampbell commented on #208
You could always forcefully start it yourself if you wanted, within your callback.

[2016-10-20 11:37] Frozire commented on #181
Just had the same problem, with the same solution.

Uncaught exception 'InvalidArgumentException' with message 'Invalid API key'

Solved by:

php artisan vendor:publish --provider="Bugsnag\BugsnagLaravel\BugsnagServiceProvider"

[2016-10-27 13:42] brayann commented on #19
What about Laravel 4? no support anymore? :(

[2016-10-27 14:33] jeffersonsetiawan opened #209 "Lumen Bugsnag without Facade"
Hi,

Just curious if we can use Bugsnag in lumen without Facade.

I got this error when using Lumen without Facade.
`Call to undefined method Bugsnag\BugsnagLaravel\LaravelLogger::setHandlers()`

[2016-10-27 14:54] GrahamCampbell commented on #209
Interesting. Looks like a bug in laravel trying to call a method not defined in it's interface.

The fastest way to mitigate this would probably be for Bugsnag to just go ahead and implement this method.

[2016-10-27 16:10] onbjerg commented on #19
@brayann Use an older version of the package.

[2016-10-27 16:16] duncanhewett commented on #19
@brayann See the legacy integration docs here: https://docs.bugsnag.com/platforms/php/laravel/legacy/

[2016-10-27 17:03] brayann commented on #19
@duncanhewett I was asking about the fix for the memory limit error

[2016-10-29 00:45] nfauchelle commented on #208
Thanks Graham.
Turns out I don't need to make any changes with most of the issues since they happen after the session is started so I get the data. I was just testing on bugs very high up.

Thanks for the replies.

[2016-10-29 00:45] #208 closed

[2016-11-02 12:45] struyfv commented on #181
I had the same issue and running php artisan vendor:publish --provider="Bugsnag\BugsnagLaravel\BugsnagServiceProvider" did not help. I had to copy the config file manually.

[2016-11-07 09:12] abada opened #210 "Error in addActivity"
[code]

[code]

[2016-11-11 00:45] dbpolito opened #211 "Add Console Information"
When we have a error on a HTTP Request, a lot of useful info is there on Request and Session tab...

For Console, would be awesome if we have the arguments and options on that command... like:

[code]

[2016-11-24 18:04] halaei opened #212 "Any way to filter sensitive data from URL?"
I have sensitive data in webhook URLs, like `https://www.example.com/webhook/5/<token>`, that are shown in bugsnag panel. Is there any way to filter them into `https://www.example.com/webhook/5/[filtered]`.

[2016-11-24 19:48] GrahamCampbell commented on #212
Yes, you can add your own filters by using callback functionality to modify the report object. There's some docs at https://docs.bugsnag.com/platforms/php/laravel/customizing-error-reports/#adding-callbacks, and the source code for the report object is available at https://github.com/bugsnag/bugsnag-php/blob/v3.4.0/src/Report.php.

You can modify the "context" by calling the `getContext` method on

[2016-11-24 19:59] GrahamCampbell commented on #212
Here's a complete example (using PHP 7.x sytnax):

[code]

---

Disclaimer, I've not actually tested this code, but it should do the job I think. Please let me know if it doesn't or if you have any questions at all. :)

[2016-11-26 09:26] halaei commented on #212
Thanks @GrahamCampbell  it seems to be working, except that setMetaData() should be called in non-merge mode:
[code]

[2016-11-26 09:26] #212 closed

[2016-11-26 12:53] GrahamCampbell commented on #212
Great. Note that your code there is subtly incorrect through, because the context isn't ever a complete URL, and, indeed, it'll only ever be "verb + url" in the case that the request metadata is set, otherwise, it may be something totally different. That's why I nested the if statements. :)

[2016-12-06 16:37] unitedworx opened #214 "Migrations wont work when bugsnag is installed"
if I comment out bugsnag from my setup commands like "php artisan migrate:status" work fine, however with bugsnag setup the above command does not work and does not output anything as all, expected is my list of migration files and their status.

I have followed the instructions to setup bugsnag

I am on laravel 5.1 LTS

[2016-12-12 17:11] nickma42 opened #215 "Bugsnag should fail silently if no API key is provided"
If we don't provide a bugsnag API key but still include the service provider we get this:

`PHP Fatal error:  Uncaught exception 'Exception' with message 'Bugsnag Error: Invalid API key' in /home/ubuntu/grabble-api/vendor/bugsnag/bugsnag/src/Bugsnag/Client.php:39`

It's the only library we have that has this behavior - Facebook/Stripe SDKs just fail silently. We have a number of environments where

[2016-12-12 18:30] GrahamCampbell commented on #215
What version are you using please?

[2016-12-12 18:31] GrahamCampbell commented on #215
If you make sure the API key is at least the empty string, you should be fine, on any recent version.

[2016-12-14 10:17] nickma42 commented on #215
Ah cool you're right - thanks @GrahamCampbell - was on v1.7.0 too.

[2016-12-14 10:17] #215 closed

[2017-01-24 17:20] nviitala commented on #102
I am having the same problem:

QueryException in Connection.php line 770:
SQLSTATE[23000]: Integrity constraint violation: 1048 Column 'latest_ip' cannot be null (SQL: insert into `xxx` (...) values (...))

I don't handle the QueryException in any way. The page returns HTTP 500.

Every other error gets logged to the BugSnag automatically.

[2017-02-10 09:28] jeffersonsetiawan opened #217 "Losing capability to add bugsnag an Log to file at the same time on laravel 5.4"
In previous version of laravel (<5.4), I can use bugsnag and still can Log into log file (storage/logs) at the same time, but after laravel 5.4 release, if I use bugsnag (
[code]
)
I can't write to log file using Log::info.

[2017-02-10 11:51] GrahamCampbell commented on #217
Thanks for getting in touch, You'll need the `bugsnag.multi` bound, instead of `bugsnag.logger`, and that should fix your issue.

[2017-02-10 11:52] GrahamCampbell commented on #217
This is documented at https://docs.bugsnag.com/platforms/php/laravel/#reporting-unhandled-exceptions, but I can see how it's easily missed, since it's not very clear at all. Perhaps we should make the multilogger example into a fill code example.

[2017-02-11 06:48] jeffersonsetiawan commented on #217
omg, I read that ```bugsnag.multi``` thing but not tried that yet.

Thanks @GrahamCampbell !!

[2017-02-11 11:40] #217 closed

[2017-02-11 11:40] GrahamCampbell commented on #217
Great. :)

[2017-02-17 09:19] ankurk91 commented on #217
Hi,
I want Laraval (5.4) to store errors in ```storage/logs/laravel.log``` as well as report them to bugsnag.

Take this example -
[code]

Above code will report two errors to bugsnag.
* ```Log::error($e)``` will report error to bugsnag + write to ```laravel.log```
* ```Bugsnag::notifyException($e)``` does not write logs to ```laravel.log```

What is the best way ? Please help.

Here is how i conf

[2017-02-21 13:37] rashid-ali4u opened #218 "Bugsnag not working with laravel 5.4"
Hi I recently update to laravel 5.4 , but bug snag seems to use old function of laravel.
I am getting following error.

[code]

[2017-02-21 13:37] rashid-ali4u commented on #218
Any help in this regard will greatly appreciated.

[2017-02-21 21:14] kattrali commented on #218
Thanks for the report, @rashid-ali4u. What version of bugsnag-laravel are you using?

[2017-02-21 21:18] GrahamCampbell commented on #218
This problem should have been in the `v2.3.0` release I think. Specifically, by: https://github.com/bugsnag/bugsnag-laravel/pull/186

[2017-02-21 21:19] kattrali commented on #218
That was my thought as well, but wanted to make sure.

[2017-02-22 06:19] rashid-ali4u commented on #218
I was using 2.2 version , which was working fine with laravel 5.3. when i updated to laravel 5.4 it did not work. I tried updaating bugsnag version to 2.4 but it did not work.

"require": {
    "php": ">=5.5.9",
    "laravel/framework": "5.4.*",
    "laracasts/flash": "^1.3",
    "lusitanian/oauth": "~0.3",
    "proengsoft/laravel-jsvalidation": "^1.2",
    "camroncade/timezone": "^0.1.0",
    "se

[2017-02-22 11:02] GrahamCampbell commented on #218
That version constraint means exactly 2.4.0.0 when composer resolves it. You should probably use `^2.4` or `2.4.*`.

[2017-02-22 11:05] rashid-ali4u commented on #218
I just updated it to  ```2.4``` . But still there is error.

[2017-02-22 12:12] rashid-ali4u commented on #218
Are you fixing this bug?

[2017-02-22 12:30] GrahamCampbell commented on #218
I can't replicate this. Version 2.4.x does not have code like is shown in your stack trace. It is possible your server is caching an old version of the file.

[2017-02-23 07:19] rashid-ali4u commented on #218
Thank You , After clearing my cache It is working fine.

[2017-02-23 07:19] #218 closed

[2017-03-01 21:12] Pierlo1 opened #219 "Method 'registerUserResolver' doesn't exist"
In the config file, under the _User_ section it is stated:

However, no such method exists. I can make a pull request with the changes to fix this if needed.

[2017-03-01 21:14] GrahamCampbell commented on #219
Please can you let us know the full class name of "Bugsnag" please?

[2017-03-01 21:14] GrahamCampbell commented on #219
It should be the facade, rather than the client.

[2017-03-01 21:19] GrahamCampbell commented on #219
Hmmm, this does look like a mistake in the docs actually.

[2017-03-01 21:22] GrahamCampbell commented on #219
Actually, I can't find anything in the docs that says that? https://docs.bugsnag.com/platforms/php/laravel/#identifying-users

[2017-03-01 21:25] Pierlo1 commented on #219
Oh OK I see. i got confused for a second there. It's in the config file: https://github.com/bugsnag/bugsnag-laravel/blob/master/config/bugsnag.php#L212

[2017-03-01 21:29] GrahamCampbell commented on #219
Ah, I see now. Thanks for reporting. :)

[2017-03-01 21:33] Pierlo1 commented on #219
Should I make a pull request or will you do the honors?

[2017-03-01 21:34] GrahamCampbell commented on #219
I'm working on one now, but feel free to send one also if you want. It might be better than mine. :)

[2017-03-01 21:41] #219 closed

[2017-03-09 15:34] dbpolito opened #221 "Bugsnag Direct Log:error calls"
Currently if we call `Log::error` it doesn't go to Bugsnag, would be great if we have an option to send all Log calls by default to Bugsnag too.

Could  be easily done with event `illuminate.log` on logs with `error` flag...

But i think if i do that unhandled exceptions would send it twice, i guess...

[2017-03-09 15:36] GrahamCampbell commented on #221
Unfortunately, it's not possible to rebind the Log facade without making a mess in Laravel, so you'll need to resolve the contract using the `app()` helper in order to log, then things should go to Bugsnag.

[2017-03-09 17:15] dbpolito commented on #221
i don't think you need to rebind log facade... all log calls this event: https://github.com/laravel/framework/blob/5.4/src/Illuminate/Log/Writer.php#L201

So if you add something like should work:

[code]

The only trick part is that unhandled exception also add a record to log, so you would add twice to bugsnag... i think...

[2017-03-09 23:29] GrahamCampbell commented on #221
The trouble with this, is Laravel's logger already notifies Bugsnag, it's only the facade that can't be rebound. If you do `app('Psr\Log\LoggerInterface')->error(...)` it will work fine.

[2017-03-09 23:31] GrahamCampbell commented on #221
Alternatively, upgrading to Laravel 5.4+ will actually fix this bug.

[2017-03-09 23:31] GrahamCampbell commented on #221
Alternatively, upgrading to Laravel 5.4+ will actually fix this bug, since I've fixed this in the framework: https://github.com/laravel/framework/pull/15855.

[2017-03-13 15:07] dbpolito commented on #221
Cool, another reason to upgrade my app then 👍 which i was already planning to do soon. Thx

[2017-03-18 11:52] praalhans opened #222 "Realpath requiring configuration"
In the Laravel bugsnag ServiceProvider in `setupConfig`, the code mentions that the configuration is located at:

[code]

Bundling bugsnag in a web phar archive for easier deployment is broken due to the use of `realpath` here. The PHP interpreter changes the `__DIR__` macro as `phar://path/to/my.phar/.../vendor/bugsnag/.../BugsnagServiceProvider.php` when the file is loaded from such an archive.

[2017-03-18 11:55] GrahamCampbell commented on #222
Interesting that this doesn't work, but realpath is used else where in laravel?

[2017-03-18 12:00] GrahamCampbell commented on #222
Could you clarify what you mean here? Do you mean the realpath function says no such path exists?

[2017-03-18 12:00] GrahamCampbell commented on #222
If you replace that line with:

[code]

does it work properly?

[2017-03-18 12:01] praalhans commented on #222
That is correct. However, we only package up all dependencies in the `vendor` directory as a phar archive, not the complete Laravel application. Hence, loading configuration files should work for applications that retrieve the real path of the Laravel root.

I will update this issue when I have tested the patch that removes the `realpath` call, whether this is a problem of Bugsnag or Laravel.

[2017-03-18 12:01] GrahamCampbell commented on #222
If you replace that line with:

[code]

does it work properly?

[2017-03-18 12:16] praalhans commented on #222
Realpath itself will not be modified, which makes sense.

https://bugs.php.net/bug.php?id=52769

Perhaps this bug is larger, in the sense that every application built on Laravel assumes all files to be present on the filesystem.

For us this is a huge problem, since we want to deploy Laravel applications by FTP to sites where we do not have SSH access. The FTP protocol is very slow when sending ma

[2017-03-18 12:25] GrahamCampbell commented on #222
Right, but does that modification there work for you please?

[2017-03-18 12:26] praalhans commented on #222
Still testing out, we have a long build process (packaging the phar takes some time).

[2017-03-18 12:26] praalhans commented on #222
Confirmed. The proposed change resolves the problem in bugsnag.

[2017-03-18 12:44] GrahamCampbell commented on #222
Thank you. I'll PR the change then.

[2017-03-19 19:15] sahamilton opened #224 "A facade root has not been set"
Bugsnag is working fine on my dev box but not when I push up to Digital Ocean.

When I use the test route:
[code]
It reports:
[code]

I'm running Laravel 5.4.15 on php 7.1.3

[2017-03-20 08:49] GrahamCampbell commented on #224
Please make sure you register our service provider early enough, and run `php artisan config:cache`.

[2017-03-20 20:13] #222 closed

[2017-03-21 15:13] sahamilton commented on #224
Thanks Graham

[2017-03-21 15:13] #224 closed

[2017-03-21 16:38] GrahamCampbell commented on #224
No problem. :)

[2017-04-02 21:14] aleemb opened #226 "PHP Fatal error: Allowed Memory Size"
On a few occasions where I imagine the stack trace is large, BugsnagLogger is unable to log the error and fails with `PHP Fatal error: Allowed Memory Size`. This means the original error is lost for good since it isn't logger and the PHP error logs don't end up showing this error either as the request fails fatally.

Some kind of check or config option to circumvent this would be very helpful.

[2017-04-02 21:23] GrahamCampbell commented on #226
Thank you for the report. That is very interesting. Out of interest, what is your PHP memory limit, and are you certain that this is caused by Bugsnag, and not Bugsnag trying to catch the out of memory error, caused by your app?

[2017-04-04 07:04] aleemb commented on #226
Some more details. If I disable BugSnag the error dumps to the screen just fine. However, If I enable BugSnag, I see the following in the logs

[code]

and the browser default 500 error page

![image](https://cloud.githubusercontent.com/assets/46616/24644793/6cf38808-1926-11e7-82f2-464eb8c66897.png)

[2017-04-04 07:06] aleemb commented on #226
I am on `v2.4.0` of `bugsnag/bugsnag-laravel` which is using `v3.4.0` of `bugsnag/bugsnag`

[2017-04-07 04:34] dominics commented on #226
See also #19 etc.

*Both* of those cases are problematic (and my logs indicate both occur).

The Bugsnag client allocates significant amounts of memory in many places. Everything from the static array in `ErrorTypes` allocating 32k, to the `json_encode()` in `HttpClient` using essentially unbound memory (I've seen megabytes there).

So, both cases happen:
 - sometimes an error just coincidentally

[2017-04-09 14:30] #19 closed

[2017-04-09 14:30] GrahamCampbell commented on #19
It is not possible in PHP to catch an out of memory exception:

![image](https://cloud.githubusercontent.com/assets/2829600/24838116/81f76d98-1d39-11e7-8e7b-9ca82fc00722.png)

[2017-04-09 14:37] GrahamCampbell commented on #214
Thanks for the report, and sorry for the long wait. Without any more information, I'm not sure what I can suggest.

Could you show us exactly what happens here. What is your PHP version, and bugsnag-laravel version please?

[2017-04-09 14:39] GrahamCampbell commented on #211
Nice idea. I like it.

Currently, all Bugsnag does on Laravel is to set the type to "HTTP", "Console", or "Queue".

I agree that having a tab with more information about the console command would be a nice feature.

[2017-04-09 14:46] GrahamCampbell commented on #226
It is not possible to catch out of memory errors:

![image](https://cloud.githubusercontent.com/assets/2829600/24838215/97c678d8-1d3b-11e7-87dd-a1c7afcb0f87.png)

Attempting to do anything, such as raising the memory limit (which would probably be a bad idea), will use more memory, and also run out of memory.

[2017-04-09 14:46] #221 closed

[2017-04-09 22:52] dominics commented on #226
@GrahamCampbell A couple of notes:

It's not a good idea to test this bug with a recursive stack overflow. That's because xdebug provides a stack limit that on normal PHP instances will hit much earlier (256 recursions by default?) than a memory limit. So you run the risk of confusing people trying to reproduce in their dev environments. I suggest `$v = str_repeat(' ', PHP_MAX_INT);` (it's also qu

[2017-04-09 23:10] dominics commented on #226
Just wanted to specifically call this out too (although I totally agree that it could be a bad idea unless the user opts in): raising the memory limit does not use more memory.

* Calling `ini_set` the first time in a process uses about 32 bytes. It's very unlikely the user ran out of memory on an attempted allocation of less than this amount, so the call to `ini_set` will almost always succeed.
*

[2017-04-09 23:25] GrahamCampbell commented on #226
It is not always to recover, however:

https://3v4l.org/K2Uq4

[2017-04-09 23:26] GrahamCampbell commented on #226
It's possible people will have disabled that function, or do not want their memory limit messed with.

[2017-04-09 23:28] dominics commented on #226
@GrahamCampbell I think I've addressed both of those comments.

etc.

[2017-04-09 23:28] GrahamCampbell commented on #226
Xdebug is generally not installed on production servers, where Bugsnag is primarily used. I'd argue it's a bad practice to install xdebug on production machines, if not for the huge performance impact alone.

[2017-04-09 23:30] dominics commented on #226
@GrahamCampbell can you take a bit longer and read what I've written? My next sentence was "trying to reproduce in their *dev* environments"...

[2017-04-09 23:30] GrahamCampbell commented on #226
I think a memory limit being bust by trying to allocate memory for a function call is actually the most common case in the real world, rather than simulated massive strings, since in that case, php's dropping the string from memory, which is why you are able to continue.

[2017-04-09 23:31] dominics commented on #226
I'd probably guess

* buffered MySQL queries using the mysqlnd driver
* HTTP response payloads using curl

would both be more common cases than a stack overflow.

[2017-04-09 23:32] GrahamCampbell commented on #226
The most common cases I see are accidental infinite recursion in Eloquent, or the service container. I mean, they are all valid cases, so. We need to keep them all in mind. :)

[2017-04-09 23:40] GrahamCampbell commented on #226
If we look at the example where we make a large string, PHP really does seem to throw it away (at least, from the evidence I can see - perhaps I'm wrong?), which is why we can continue:

Compare https://3v4l.org/52HjC with https://3v4l.org/MUpBC. See how on the integer example, the error is for "1MB", but in the shutdown function, the memory has already been released. This is exactly what is happe

[2017-04-10 00:22] dominics commented on #226
Yeah, that's definitely what I've been seeing (and saying: "if the allocation that failed was large, you'll have plenty of available memory to process the error").

Nevertheless, I seem to be having some good success with https://gist.github.com/dominics/61c23f2ded720d039554d889d304afc9 because it copes with OOM errors simulated like e.g.

[code]

(so, with very low memory available when initially

[2017-04-10 01:02] GrahamCampbell commented on #226
Yes, thanks for the input. I think that while there are limitations here, as well as documenting them, we could also potential recovery from these errors (off by default). I'll put together a PR soon that you can all check out. :)

[2017-04-10 10:31] aleemb commented on #226
Just for the record the issue for me personally was not the out of memory exception itself but that turning off BugSnag allowed me to capture it and turning it back on left me in the dark.

Since this is an out of memory exception with or without BugSnag it's a nice-to-have but if it's not technically feasible, then I guess it isn't. On development environments, I wouldn't mind if XDebug helped th

[2017-04-10 11:34] GrahamCampbell commented on #226
Yeh, this is for the reason that I explained. Turning off bugsnag means the exception is left unhandled, so you can see it, but turning on Bugsnag obscures it, because Bugsnag crashes.

I think it's worth documenting the limitations of handling out of memory errors in PHP, but also, to add the capability to the Bugsnag library to be able to recover from such errors if at all possible.

Yes, I agre

[2017-04-13 12:40] meness opened #227 "A package won't work properly while Bugsnag installed"
Hi,

  minate\Contracts\Logging\Log, instance of Bugsnag\PsrLogger\MultiLogger given

This exception is thrown because I installed Bugsnag package and I bound the Bugsnag PSR logger in the `register()` method of my application service provider `app/Providers/AppServiceProvider.php`

[code]

**Note:** If I comment above lines, everything would work fine, but they're needed while using Bugsnag

**No

[2017-04-13 12:43] GrahamCampbell commented on #227
Thanks for the report. I see what's happening here. I'll look into a fix ASAP for you.

[2017-05-02 22:16] brnmonteiro commented on #102
any solution? bugsnag is not loging pdoexceptions

[2017-05-05 06:32] blacklizard opened #230 "Exception is sent twice when using bugsnag.multi"
Laravel: 5.4.19
bugsnag/bugsnag-laravel: 2.5

Install instruction followed from: https://docs.bugsnag.com/platforms/php/laravel/#installation

![screen shot 2017-05-05 at 2 24 49 pm](https://cloud.githubusercontent.com/assets/1284948/25735555/c60b79ce-319e-11e7-9cd3-78d7302bf152.png)

[2017-05-05 20:37] GrahamCampbell commented on #230
Thanks for the report. Where exactly is the syntax error please? It's possible you code is actually causing PHP to require the file with the error twice, so thus meaning there really are two errors there, rather than a double send.

[2017-05-08 21:35] DfKimera opened #231 "LaravelLogger does not implement Log::listen() and Log::getMonolog(), present in default Log facade"
Laravel's Log facade has two very handy functions, `Log::listen()` and `Log::getMonolog()`.

When Bugsnag's handler is added, it replaces the Log facade handler, but it doesn't implement these methods:

![screenshot 2017-05-08 18 31 58](https://cloud.githubusercontent.com/assets/581765/25826353/e14e10ae-341c-11e7-87d8-9fcf32501023.png)

These are very handy for console commands, where log messages

[2017-05-08 21:36] DfKimera commented on #231
Sample usage for `Log::listen()`:

[code]

[2017-05-15 16:17] bkuhl opened #232 "Call to undefined method Bugsnag\BugsnagLaravel\LaravelLogger::popHandler()"
#207 I just added bugsnag to my project, see https://github.com/realpage/asset-publisher/blob/master/app/Providers/AppServiceProvider.php#L26 and https://github.com/realpage/asset-publisher/blob/master/bootstrap/app.php#L87.  When running `php artisan tinker` I see the following error:

[code]

The project is Lumen 5.2

[2017-05-17 12:21] Numline1 commented on #181
I may be a little late, but perhaps this helps:

I accidentally loaded
[code]

after the AppServiceProvider (or in our case, BugsnagServiceProvider in App\Providers\, since we have a slightly different app structure).

Make sure to have them loaded in correct order.

[2017-05-17 14:43] wkolcz-UMHS opened #233 "Call to undefined method Bugsnag\BugsnagLaravel\MultiLogger::getMonolog()"
I was using BugSnag with my Laravel 5.4 app and recently updating the app and now I get an error when I run composer update

Call to undefined method Bugsnag\BugsnagLaravel\MultiLogger::getMonolog() which, when inspected your vendor code, the function does not exist.

I am running;
"laravel/framework": "5.4.*",
"bugsnag/bugsnag": "^3.5",
 "bugsnag/bugsnag-laravel": "^2.4",

and have it registered

[2017-05-17 15:01] wkolcz-UMHS commented on #233
Oddly enough it wasn't Bugsnag as the only issue. There is another class trying to call \Log::getMonolog() that is failing since apparently Bugsnag takes over the logging.

interesting it was your web dashboard that lead me to discover that the issue with a conflict between another library and the Bugsnag library. Any ideas?

[2017-05-17 17:59] GrahamCampbell commented on #232
Thanks for the report. This is ultimately a duplicate of #231, since the fix will be the same. Thank you very much for reporting though. I'll close this up so we only have one issue. :)

[2017-05-17 17:59] #232 closed

[2017-05-17 17:59] GrahamCampbell commented on #233
Thanks for the report. This is ultimately a duplicate of #231, since the fix will be the same. Thank you very much for reporting though. I'll close this up so we only have one issue. :)

[2017-05-17 17:59] #233 closed

[2017-05-17 18:14] wkolcz-UMHS commented on #233
Thanks @GrahamCampbell!

[2017-05-18 23:19] DfKimera commented on #231
@GrahamCampbell Hey, can I open a PR to fix this, or are you guys already working on it?

[2017-05-25 21:02] tmyers273 opened #234 "Redis connection overflow when using Bugsnag::registerCallback"
This one has me quite baffled. Ran into it on a production system and after a very long debugging session, have reproduced it here: https://github.com/tmyers273/bugsnag-redis-connection-error

Essentially, when using the registerCallback function
[code]

Redis connections do not seem to be dropped / reused as expected. This very quickly causes Redis to hit the max client limit and start returning

[2017-05-27 15:59] reshadman opened #235 "Why does the wrapper marks "info" and "debug" messages as breadcrumbs?"
I am confused why does the wrapper marks all `info` and `debug` logs as breadcrumbs and there is not any section in the panel to view standalone breadcrumbs?

[2017-06-19 12:27] GrahamCampbell commented on #235
Thanks for getting in touch. This is because Bugsnag is an Error Monitor. The idea is to record errors, and any useful information leading up to them.

[2017-06-19 12:27] #235 closed

[2017-06-19 12:28] #230 closed

[2017-06-19 13:48] reshadman commented on #235
It is, but laravel's Log handler is not just for error monitoring, by changing the logger instance in the container to bugsnag's implementation you get different behavior on the same interface. confusing.

[2017-06-28 10:47] richstandbrook commented on #231
Also don't seem to be able to test properly when using Bugsnag and `Log::spy()`.
[code]

[2017-06-28 13:36] GrahamCampbell commented on #231
Thanks everyone. I am working on a fix for this. :)

[2017-07-07 08:27] richstandbrook commented on #231
Any progress? I could really do with some Bugsnag reporting!

[2017-07-09 11:00] GrahamCampbell commented on #209
No such method `setHandlers` exists anywhere in laravel or lumen. Perhaps you are calling it incorrectly, yourself?

[2017-07-09 11:01] GrahamCampbell commented on #210
I think you got the wrong repo here?

[2017-07-09 11:01] #210 closed

[2017-07-09 11:01] GrahamCampbell commented on #209
Closing this for now. If you have any more questions, feel free to still reply. :)

[2017-07-09 11:01] #209 closed

[2017-07-09 11:01] #214 closed

[2017-07-09 11:04] GrahamCampbell commented on #227
You will need to use the `Bugsnag\BugsnagLaravel\MultiLogger` class rather than `Bugsnag\PsrLogger\MultiLogger`.

What version of this package are you using please?

[2017-07-09 11:06] GrahamCampbell commented on #234
I'm not sure how this is related to us. I think the issue is just that redis us using threading, and when php wants to throw an exception, it just rejoins the main thread, so the stacktrace will come from some random place being executed on the main thread. In this case, it was the bugsnag code.

[2017-07-09 11:06] #234 closed

[2017-07-09 11:08] GrahamCampbell commented on #231
@DfKimera, @richstandbrook Please let me know if https://github.com/bugsnag/bugsnag-laravel/pull/239 fixes this for you. :)

[2017-07-10 15:49] meness commented on #227
@GrahamCampbell I'm using the latest stable version, and I'm using the following lines and get the exception. I'm still have problem with Bugsnag

[code]

[2017-07-10 15:54] meness commented on #227
@GrahamCampbell I test the following lines and everything works well and no exception thrown. Is this okay?

[code]

[2017-07-10 18:10] GrahamCampbell commented on #227
Interesting. What version are you using please? Can you please give me the full output from `composer show` (if this command takes ages or shows packages you don't have, update to the latest version of composer `composer self-update`)?

[2017-07-10 20:13] DfKimera commented on #231
@GrahamCampbell I'm having a Closure type error, seems to be a missing back-slash:

![image](https://user-images.githubusercontent.com/581765/28037649-726965e2-6592-11e7-91be-cc94a3bd9032.png)
By poking the code, I've noticed it is missing a back-slash on `\Closure` in the `EventTrait`:

![image](https://user-images.githubusercontent.com/581765/28037719-c0771e6e-6592-11e7-9705-088d2ab8eaed.png)

B

[2017-07-10 20:29] GrahamCampbell commented on #231
Thanks for trying it out. I'll push some fixes shortly. :)

[2017-07-10 20:54] GrahamCampbell commented on #231
Try now. :)

[2017-07-10 21:09] DfKimera commented on #231
It's working now! :D

For some reason, the event handler is called three times instead of one. Here's my testing scenario and output:

![image](https://user-images.githubusercontent.com/581765/28039688-9bbc43ea-6599-11e7-90d2-ec4333461988.png)

![image](https://user-images.githubusercontent.com/581765/28039976-8abeaafa-659a-11e7-8be9-f5e17d012d38.png)

![image](https://user-images.githubuserconten

[2017-07-10 21:12] GrahamCampbell commented on #231
Are you calling the log listen method after you've registered the aliases?

[2017-07-10 21:13] GrahamCampbell commented on #231
When is setup logging called in your command class? I think that's being called too many times perhapse?

[2017-07-10 21:16] DfKimera commented on #231
Yes, the `register` and `alias` calls are in `AppServiceProvider::register`.

I've tested commenting/uncommenting lines, and this line is what causes the extra calls:

`$this->app->alias('bugsnag.multi', \Psr\Log\LoggerInterface::class);`

Commenting it reduces the calls back to one.

[2017-07-10 21:17] DfKimera commented on #231
Here's a snapshot of the entire `AppServiceProvider`, for clarity:

![image](https://user-images.githubusercontent.com/581765/28040372-f73d5f4a-659b-11e7-8805-9d1b4c521aad.png)

[2017-07-10 21:48] GrahamCampbell commented on #231
Thanks. Why are you aliasing `Bugsnag` like that. It doesn't look correct. Did you mean to just write `class_alias`? The service container aliases have a very specific use, and it's not a good idea to use them to shorten class names.

Is you app service provider registered after the bugsnag one?

[2017-07-10 21:53] DfKimera commented on #231
I'm doing that way because I've opted to only load Bugsnag in the production environment, so it's no longer in `app.php`. Removing that line has no effect.

I've tried moving back the alias and service provider to the config file, but it still triples the callback call when I add the `\Psr\Log\LoggerInterface` Bugsnag alias.

[2017-07-10 21:55] DfKimera commented on #231
Oh, to answer your previous question: `setupLogging()` is called only once, on the command `handle()`.

[2017-07-11 07:00] meness commented on #227
@GrahamCampbell

**Composer version:** 1.4.2 (stable channel)

**`composer show` Output:**

**The exception after running `composer update`:**

[2017-07-11 19:24] GrahamCampbell commented on #227
Oh, so this only happens there? Please try deleting the files in `boostrap/cache`, and running update again.

[2017-07-11 19:25] GrahamCampbell commented on #231
Thanks for the details. I'll investigate soon.

[2017-07-12 08:13] meness commented on #227
@GrahamCampbell Deleting `bootstrap/cache` directory content didn't help.

[2017-07-15 15:19] GrahamCampbell commented on #231
![image](https://user-images.githubusercontent.com/2829600/28240402-47fd6a84-6979-11e7-9ca2-f49b4d28ef9a.png)

This line definitely is incorrect. Please remove it. A container alias is not at all the same as a class_alias, which is what I assume you want there.

[2017-07-15 15:21] GrahamCampbell commented on #231
Did you follow the lumen specific instructions? The multi logger needs different setup to Laravel:

![image](https://user-images.githubusercontent.com/2829600/28240425-9d40a59c-6979-11e7-83fb-76182a06270d.png)

[2017-07-15 15:25] GrahamCampbell commented on #231
You will also need to pass in the events instance in, as not shown in the docs, since the docs are for the current version, not this PR. Basically, you need to only write the following, and nothing else:

[code]

[2017-07-15 15:26] GrahamCampbell commented on #231
Do not try to do aliasing with the `bugsnag.multilogger`, that is laravel specific, and will not work in lumen.

[2017-07-16 20:45] DfKimera commented on #231
The app is a Laravel app. I followed the Laravel instructions found [here](https://docs.bugsnag.com/platforms/php/laravel/#basic-configuration).

I've since removed the alias line you mentioned, but it has no effect on the log messages tripling. The line that has this effect is:
[code]
When I comment this line, the events are no longer tripled.

[2017-07-19 15:39] scottconnerly opened #240 "Filter log events being sent by log level"
Enhancement request:

Currently, every Log event is always sent to Bugsnag. It would be great to have a config that allows us to exclude debug, info level log events.

[2017-07-19 18:34] GrahamCampbell commented on #240
Debug and info logs are not sent to Bugsnag at the moment. Only notice logs are sent to bugsnag as info, warning as warning, and others as errors. :)

[2017-07-19 18:34] #240 closed

[2017-07-19 18:35] GrahamCampbell commented on #240
Info and debug are captured as breadcrumbs, which may never get set. If you want to change this, the easiest way to customize this is to extend one of our psr loggers. :)

[2017-07-27 16:46] dbushy727 commented on #181
I had the same invalid api key issue and was also fixed by `php artisan vendor:publish --provider="Bugsnag\BugsnagLaravel\BugsnagServiceProvider"`

[2017-07-27 20:05] GrahamCampbell commented on #181
That won't actually fix it, as such. It just has the side effect of fixing it, because it flushed the config cache. You can flush the config cache yourself by running the config cache artisan commands. You don't need to publish any resources to use bugsnag, but you can publish them if you really want to.

[2017-08-04 23:48] #227 closed

[2017-08-04 23:48] #231 closed

[2017-08-04 23:49] kattrali opened #243 "The example app sends multiple reports for a single request to the crashing endpoint"
If you run the example app (and set your API key), when you visit localhost:8000/test, you get two error reports.

[2017-08-05 09:08] GrahamCampbell commented on #243
Is this due to the events PR?

[2017-08-05 15:12] kattrali commented on #243
No. Tested back to 2.3.0

[2017-08-13 06:52] amsoell opened #245 "setErrorReportingLevel not working with log handlers"
We're having an issue with a Laravel 5.4 project with Bugsnag integration where the `setErrorReportingLevel` method isn't properly filtering our messages sent to Bugsnag. We put the following in our `AppServiceProvder.php` file in the `boot()` method:

[code]

Even after this, our notice-level log messages are still being pushed to Bugsnag. This line specifically still gets pushed out to our dashb

[2017-08-13 12:00] GrahamCampbell opened #246 "Support laravel 5.5"
Todo:

* [ ] Add support for package auto discovery
* [ ] Upgrade the example application
* [ ] Test on a real world laravel application

[2017-08-14 18:34] kattrali commented on #245
Thanks for the report, @amsoell. It looks like the log handler doesn't use the error code filtering built into the error handler.

* [`shouldIgnoreErrorCode` logic](https://github.com/bugsnag/bugsnag-php/blob/master/src/Configuration.php#L481)
* [where the `errorReportingLevel` is used, in `Handler::errorHandler`](https://github.com/bugsnag/bugsnag-php/blob/master/src/Handler.php#L165)
* [`log` me

[2017-08-14 22:14] GrahamCampbell commented on #245
I think this is actually a documentation bug. The error level there is only respected by Bugsnag's Handler class (which is not used by Bugsnag Laravel), and not by the client object. It's just put in that main config object for ease of use, but is actually unused by Laravel. It should be removed from the Bugsnag Laravel docs if it's in there I'd say.

[2017-08-14 22:27] kattrali commented on #245
Agreed, though it has come up a few times that there isn't an apparent way to filter by log level and that's something we could provide. My thought was that we could expose a minimum log level config option, but where that would belong would be up for discussion.

[2017-08-17 02:59] sakinobashi commented on #206
I was having this issue as well, even though I had your service provider above the app provider. The issue, in my case, was that I had the following code on AppServiceProvider's boot() method:
`\Log::getMonolog()->popHandler();`
`\Log::useDailyFiles(storage_path('/logs/laravel-').php_sapi_name().'-'.get_current_user().'.log');`

This was meant to overcome a permission issue I couldn't quite fix –

[2017-09-08 12:00] KillermenBE commented on #246
@GrahamCampbell

I'm testing it with a live world application on our Development Server.
In Laravel 5.5, they re-installed Whoops and redid the whole Exception-logic.

If we look at an error occurred, we always see the same line of code as faulty code.

![bugsnag](https://user-images.githubusercontent.com/6095391/30210767-1d3498fe-949e-11e7-90e7-e13707ca26e1.PNG)

[2017-09-09 11:31] GrahamCampbell commented on #246
Thanks for getting in touch.

That shouldn't make any difference to the reporting process. :)

That is something that is unique to parse errors I think. What happens in your app for other exceptions?

[2017-09-09 12:27] dennisoderwald commented on #246
@GrahamCampbell I have the same problem in a freshly installed Laravel 5.5 application.

As a workaround, I replaced the report function in the exception handler (credits to @themsaid), and it works again:
[code]

[2017-09-09 12:44] KillermenBE commented on #246
@GrahamCampbell

@GrahamCampbell

If I halt the program at the following of app/Exceptions/Handler.php in Laravel 5.5, it will show me where the exception occured and show the correct stackstrace.

[code]

If I halt the program in the Bugsnag-php package on stackstrace.php at this line of code, I always get the same stackstrace (The ExceptionHandler, Pipelines and Middleware).

[code]

[2017-09-14 23:44] aaronhuisinga commented on #246
Just want to confirm we're seeing the same issue in a production Laravel 5.5 application. @KillermenBE is correct.

[2017-09-15 21:31] aaronhuisinga commented on #246
@GrahamCampbell would you or someone from the Bugsnag team be able to confirm this?
Since updating to Laravel 5, Bugsnag is basically not usable for debugging as we aren't able to view any sort of accurate traces.

[2017-09-16 09:59] GrahamCampbell commented on #246
I am not able to simulate these issues? I have a Laravel 5.5 application, and it works?

[2017-09-17 00:15] aaronhuisinga commented on #246
@GrahamCampbell I'm not certain how it's working properly for you. I've just done the following to make sure I'm not crazy and it's actually not functioning properly.

1) Created new Laravel 5.5 project.
2) Installed Bugsnag as a dependency, and followed along with the official Bugsnag Laravel installation guide (I used the multi logger).
3) Ran PHP artisan serve.
4) Changed the view() method for

[2017-09-20 17:55] TomKita commented on #246
@GrahamCampbell To confirm @aaronhuisinga statement above this is indeed a problem with the multilogger. lt this has to do with the changes done to the handler in laravel.

Specifically here`Handler.php:113, App\Exceptions\Handler->report()`

[code]

The exception in laravel 5.5 is pushed into `$context` instead of the `$message`.
`BugsnagLogger.php:73, Bugsnag\BugsnagLaravel\LaravelLogger->log()`

[2017-09-21 10:48] adiachenko commented on #246
I have the same issue after following official guide for integrating Bugsnag into Laravel 5.5 application.

[2017-09-21 14:34] LasseRafn commented on #246
Same issue as well. Will look into this later

[2017-09-21 17:33] kattrali commented on #246
I have a non-breaking fix, which would be to check if `$context['exception']` is set before attempting to coerce the message into an exception. I'll add a PR so we can all discuss there.

[2017-09-21 18:20] LasseRafn commented on #246
Clever!

[2017-09-22 10:58] cballou commented on #181
The fix from my own personal experience is to ensure that you first run `php artisan config:cache` prior to updating the aliasing in your `AppServiceProvider`. This did the trick.

[2017-09-22 15:09] #246 closed

[2017-09-28 14:18] robbydooo opened #255 "Auto Discovery support for Laravel 5.5"
HI,

Can we add auto discovery to support Laravel 5.5 please?

Thanks,
Rob

[2017-09-28 15:23] Cawllec commented on #255
Hi Rob,

We've got a PR for this - [#253](https://github.com/bugsnag/bugsnag-laravel/pull/253), but as Graham mentions on that PR it's not quite as simple as adding it in.  We need the Bugsnag provider to load earlier than the AppServiceProvider as it's required for the logger bindings.

There's a possibility we can add this in the future by removing the dependency on the Laravel logging service.

[2017-09-28 15:24] #211 closed

[2017-09-28 15:34] robbydooo commented on #255
Ok great thanks for the update. We have had similar issues with ordering or packages being an issue so understand there is a problem there right now.

[2017-09-28 15:34] #255 closed

[2017-10-02 16:25] nasyrov commented on #226
Hi guys,

I've recently tried to enable Bugsnag support with my app and stumble upon this problem, any progress on that? My app is under the high load and increasing a memory limit means decreasing the number of concurrent requests a server can handle...

[2017-10-03 13:49] bkuhl opened #257 "Stack trace always showing ExceptionHandler"
### Expected behavior
For the code snippet on Bugsnag to show controllers or other classes where the problem originated.

### Observed behavior
It always shows the ExceptionHandler

![screen shot 2017-10-03 at 9 46 59 am](https://user-images.githubusercontent.com/524933/31128463-e7d2f27e-a81f-11e7-9b8f-51e7515dba5d.png)

### Steps to reproduce
 * Require bugsnag laravel
 * Add this to AppServicePr

[2017-10-03 13:51] bkuhl commented on #257
Nevermind, I found https://github.com/bugsnag/bugsnag-laravel/releases/tag/v2.7.2

[2017-10-03 13:51] #257 closed

[2017-10-12 14:11] gyurobenjamin commented on #221
You can create your custom Log facade in your app dir which use the 'Psr\Log\LoggerInterface', change the illuminate one to your new custom one in the aliases and bumm.

[2017-10-12 14:23] gyurobenjamin commented on #221
Your new custom facade:
[code]
register it in config/app.php
[code]

[2017-10-19 20:18] asantibanez commented on #181
I had the same issue today. I resolved it by placing the BugsnagServiceProvider before the AppServiceProvider in the providers array of my app. Hope it helps.

[2017-10-22 18:07] AndreiaMatiasSilva opened #262 "How to get release stages to notify when they are dynamically set?"
Hello,
I need to read the current notifyReleaseStages after being set with Bugsnag::setNotifyReleaseStages method. What's the way to do it?

Thanks in advance

[2017-10-22 19:33] Cawllec commented on #262
There isn't currently a method for retrieving the NotifyReleaseStages from the Bugsnag client, but that's something that would definitely be worth adding in.

As for retrieving the release stages, if you're setting them through configuration can you retrieve it from there using:
[code]
?

[2017-10-22 20:00] AndreiaMatiasSilva commented on #262
Thank you @Cawllec, I'll close the issue then

[2017-10-22 20:00] #262 closed

[2017-11-06 14:13] vanrijs opened #263 "PHP 7 "Call to undefined method" error"
Hi,

We upgraded today to PHP 7. Now i get this issue:
PHP Fatal error:  Uncaught Error: Call to undefined method Bugsnag\BugsnagLaravel\Facades\Bugsnag::notifyException()

Still running "bugsnag/bugsnag-laravel": "^2.0", so no further changes.

Is this a know issue?

[2017-11-24 08:08] finalgamer opened #266 "Support Laravel 5.5 Package Discovery"
Add this to composer.json to make the package register the service provider and facade automatically.

composer.json
[code]

[2017-11-24 09:34] Cawllec commented on #266
Hi @finalgamer, thanks for the suggestion.  Unfortunately as we need our package to register before the `AppServiceProvider` we can't rely on package discovery.  Potentially this could be something we would support in the future.

[2017-11-25 02:24] ludk17 opened #267 "more detail in breadcumbs"
show parameters sended in queries currently only show the "?" symbol and we can't know what parameters try to send.

### Expected behavior
**sql** select * from `users` where `status` = ? and email = ?
**params** "available", "email@email.com"
**time** 0.46ms
**connection** mysql

### Observed behavior
**sql** select * from `users` where `status` = ? and email = ?
**time** 0.46ms
**connection** my

[2017-11-25 23:16] GrahamCampbell commented on #267
This is because the bindings recording is disabled by default. You can enable it to capture them.

[2017-11-25 23:16] GrahamCampbell commented on #267
In `.env`:

[code]

[2017-11-25 23:18] GrahamCampbell commented on #267
Example from one of my apps with this feature turned on:

<img width="1130" alt="image" src="https://user-images.githubusercontent.com/2829600/33235731-e452be04-d236-11e7-97b3-bc388c5538cb.png">

[2017-11-26 13:22] ludk17 commented on #267
great thanks

[2017-11-26 13:22] #267 closed

[2017-11-27 19:32] bkuhl opened #268 "Allow addMetaData() to append data at multiple points"
I've encountered several scenarios where I'd like for different steps in my code to append a new "Tab" of data to the Bugsnag GUI.  Currently there's only a `setMetaData()` so it must all be done at once.  It'd be very useful to see an `addMetaData()` that appends to any existing data, or overwrites a given key.

[2017-11-27 20:43] GrahamCampbell commented on #268
Thanks for the suggestion. The original design decision was to avoid bloating the API, since insertion can still be achieved using those methods.

[2017-11-27 21:08] bkuhl commented on #268
I can understand that mentality.  Though I'd appreciate some consideration given to this anyways given the pretty much zero overhead associated with adding such a method.

[2017-11-28 00:57] kattrali commented on #268
Adding a method to merge metadata makes sense to me too. Working with the metadata object can be cumbersome if you're doing more than setting an entire tab at once, and in other bugsnag libraries we've started to adopt a pattern similar to `addMetaData()` to merge data as a convenience.

[2017-11-28 02:23] kattrali commented on #266
Closing as duplicate of #236 and [more](https://github.com/bugsnag/bugsnag-laravel/search?q=auto-discovery&type=Issues&utf8=%E2%9C%93)

[2017-11-28 02:23] #266 closed

[2017-12-08 06:25] danijelk opened #269 "Class Query executed does not exist"
Not sure this has been reported before, but we're using some new profiling tools and are seeing this beeing reported as a 'problem'.
It's not a critical one as it's captured by a try/catch. But I'm wondering why it's even trying to lookup something like 'query executed'?

Class Query executed does not exist
Stacktrace:
ReflectionClass.__construct
/srv/www/vhosts/deployer/master/releases/123/vendor

[2017-12-08 11:55] Cawllec commented on #269
Hi @danijelk,

The Laravel notifier registers a listener for queries by default to create breadcrumbs from these queries, making it easier to track down root causes of issues.  This behaviour can be disabled by setting the environment variable `BUGSNAG_QUERY` to false in the application configuration.

As for the reason the exception is being caught, the code in `leaveBreadcrumb` attempts to get a

[2017-12-08 12:01] danijelk commented on #269
Great just what I was hoping for. Will close the issue, thanks for the detailed explanation.

[2017-12-08 12:01] #269 closed

[2017-12-08 18:50] bkuhl commented on #268
Just FYI: Currently it looks like `setMetaData()` accepts a boolean `$merge` option as a second parameter.

`setxxxxx()` methods usually don't append, so this led to me having massive arrays of data going to Bugsnag as part of the context.

[2017-12-18 14:35] mnimants opened #270 "Errors not sent to Bugsnag from Log::error() in Laravel 5.2"
Hi!

### Expected behavior
Laravel Logs sent to bugsnag.

### Steps to reproduce

Laravel 5.2, bugsnag/bugsnag-laravel v2.7.0
I have these 2 lines in AppServiceProvider
`$this->app->alias('bugsnag.multi', \Illuminate\Contracts\Logging\Log::class);
  $this->app->alias('bugsnag.multi', \Psr\Log\LoggerInterface::class);`

When I throw the exception, error is sent to Bugsnag and everything is fine. It

[2018-01-05 09:50] Cawllec commented on #263
Hi @vanrijs, are you still getting this issue?  Has the above issue solved anything for you?

[2018-01-05 12:08] Cawllec commented on #268
Closing this as fixed, let me know if there are any more issues @bkuhl

[2018-01-05 12:08] #268 closed

[2018-01-05 15:01] Cawllec commented on #270
Hi @mnimants, I'm investigating this and will let you know if I find any fixes.  Out of interest, what version of Bugsnag are you using with your 5.4 app?

[2018-01-05 17:49] mnimants commented on #270
@Cawllec
laravel/framework -> v5.4.23
bugsnag/bugsnag -> v3.6.0
bugsnag/bugsnag-laravel -> v2.7.0
bugsnag/bugsnag-psr-logger -> v1.1.0

[2018-01-11 12:24] simplenotezy opened #282 "Setting up bugsnag - defaults missing"
### Expected behavior
Show what the defaults is in bugsnag.php

### Observed behavior
I have to figure out myself what the defaults do. E.g. what happens if I don't set `notify_release_stages`? Will it notify on ALL stages? Or none?

### Steps to reproduce
Follow install instructions

### Additional information
I have followed installation guide from https://docs.bugsnag.com/platforms/php/laravel/

[2018-01-11 13:22] Cawllec commented on #282
Hi @simplenotezy, thanks for the feedback, glad errors started showing up.  I'll make a note to review the documentation and clarify anything that doesn't seem to give an indication of default behaviour.

[2018-01-11 13:43] Cawllec commented on #226
Based on the discussion in this thread I'd suggest looking at @dominics [fix](https://github.com/bugsnag/bugsnag-laravel/issues/226#issuecomment-292824200) for now, and we'll schedule a discussion on this to see what we can do.

[2018-01-11 18:18] bkuhl opened #283 "setMetaData() merging data between jobs"
### Expected behavior
Metadata not being overriden with subsequent queue job calls.  So my custom tab should have a single game's id and name.

### Observed behavior
All game ids and names are appended to each call, leading to more metadata than should be called.
<img width="611" alt="screen shot 2018-01-11 at 1 11 07 pm" src="https://user-images.githubusercontent.com/524933/34839814-f1d77d44-f6d0

[2018-01-15 09:54] Cawllec commented on #283
Hey @bkuhl, you've set the `merge` parameter inside of the array, meaning it's not being passed to the function and the callbacks are all merging their data.

Try:
[code]

[2018-01-15 10:09] Cawllec commented on #283
Alternatively you can use the `addMetaData` function, which overwrites by default.

[2018-01-17 02:37] bkuhl commented on #283
:facepalm: oh my.... Thanks!

[2018-01-17 02:37] #283 closed

[2018-01-19 22:35] #282 closed

[2018-01-23 11:37] mnimants commented on #270
Hi! Any updates on this?

[2018-01-23 12:30] Cawllec commented on #270
So calling a log functions through the `Log` facade actually calls into the `Illuminate\Log\Writer Object` that seems to ignore the alias done earlier on.  I'd suggest writing to the application logger directly if you wish it to report exceptions to Bugsnag.
I'll have a look at how this behaviour can be changed to respect the aliases.

[2018-01-23 14:29] GrahamCampbell commented on #270
What `Log` are you calling. This should be `Illuminate\Support\Facades\Log`, and not `Illuminate\Contracts\Logging\Log`.

[2018-01-23 15:16] Cawllec commented on #270
I've been testing it with both and the results appear the same.

[2018-01-30 16:38] robclancy opened #284 "Laravel 5.6 has a new logging system, not compatible"
Was going to try PR but since it is such a big change on the Laravel side you can probably just add a bugsnag channel now and have a much nicer integration.

[2018-01-31 07:29] GrahamCampbell commented on #284
Thanks for the heads up. I'm actually already working on this. :)

[2018-02-07 18:16] KennedyTedesco commented on #284
Looking forward to it! ❤️

[2018-02-08 07:50] CrixuAMG opened #286 "Error when upgrading to laravel 5.6"
[code]

As stated in the title, using Laravel 5.6, upgrading from 5.5.
PHP version: 7.1.6.

[2018-02-08 09:00] Cawllec commented on #286
Hi @CrixuAMG, @GrahamCampbell is currently working on an update to work with 5.6, this should be available soon.

[2018-02-08 12:10] #263 closed

[2018-02-10 01:30] browner12 commented on #286
The `Illuminate\Contracts\Logging\Log` interface has been removed, so one thing you'll have to do is update your `AppServiceProvider.php` (or wherever you put this code), and remove

[code]

[2018-02-10 13:24] GrahamCampbell commented on #286
The actual bugsnag class implements the interface that no longer exists, so there will be more work than that required. I am working on the upgrade over the next few days.

[2018-02-10 15:39] browner12 commented on #286
ok, thanks.

[2018-02-14 05:43] georgewritescode commented on #286
@GrahamCampbell Do you have an estimated time until fix?
It's holding up my deployment at the moment.

[2018-02-14 13:33] GrahamCampbell commented on #286
The example app shows how to install the fork via composer: https://github.com/GrahamCampbell/bugsnag-laravel/blob/34d75132a7747d013049fd9cfa5683a63be70db1/example/laravel56/composer.json.

[2018-02-14 13:33] GrahamCampbell commented on #284
Please see https://github.com/bugsnag/bugsnag-laravel/pull/288. :)

[2018-02-14 17:26] mattdfloyd commented on #286
With the fork, it appears that setting up bugsnag as a logging endpoint (instead of aliasing the log interfaces) is the other relevant change . Anything else @GrahamCampbell ?

https://github.com/GrahamCampbell/bugsnag-laravel/blob/34d75132a7747d013049fd9cfa5683a63be70db1/example/laravel56/config/logging.php

[2018-02-14 21:20] GrahamCampbell commented on #286
Yes, I think that is all that is needed. I am writing some documentation at the moment.

[2018-02-16 18:21] kattrali commented on #286
Fixed in [v2.14.0](https://github.com/bugsnag/bugsnag-laravel/releases/tag/v2.14.0)

The new integration instructions are [here](https://docs.bugsnag.com/platforms/php/laravel/#laravel-5-6)

[2018-02-16 18:21] #286 closed

[2018-02-16 18:24] kattrali commented on #245
This was actually fixed back in v2.10 using [`BUGSNAG_LOGGER_LEVEL`](https://docs.bugsnag.com/platforms/php/laravel/configuration-options/#logger-notify-level)

[2018-02-16 18:24] #245 closed

[2018-02-19 22:13] GrahamCampbell commented on #243
The 5.6 example app doesn't send two error reports I think?

[2018-02-19 22:59] kattrali commented on #243
Yep! This is fixed.

[2018-02-19 22:59] #243 closed

[2018-02-20 00:04] GrahamCampbell commented on #243
Fixed on the 5.2 sample app too?

[2018-02-27 15:42] Teerr opened #292 "Call to undefined method Bugsnag\PsrLogger\MultiLogger::useFiles()"
Hello, I have a laravel project in which I need to log errors in two ways:
1. using Bugsnag
2. saving callstacks to separated files

In `register` method of `AppServiceProvider` I have:
[code]

In `report` method of `\App\Exceptions\Handler` I have:
[code]

### Expected behavior
File with error is created and at the same time sent to Bugsnag.

### Observed behavior
I get error:
```"Call to undefin

[2018-02-27 23:03] GrahamCampbell commented on #292
What version of Laravel are you using please?

[2018-02-28 08:32] Teerr commented on #292
It is version 5.4

[2018-03-06 15:14] Cawllec commented on #292
Hi @Teerr, I've found what the issue is and will be adding a fix shortly.

[2018-03-06 23:45] vesper8 opened #296 "does this work alongside arcanedev/log-viewer ?"
I installed bugsnag because I wanted to get notified when there are serious errors. But I noticed that ever since I added bugsnag my laravel log files are no longer populated

that is.. I have a lot of \Log::debug() and \Log::info() calls throughout my application and none of these are going to my log files anymore

This is very much unwanted.. I want my internal logging to continue working as it

[2018-03-07 01:32] snmaynard commented on #296
I am answering on your support ticket so closing this one out.

[2018-03-07 01:32] #296 closed

[2018-03-07 15:42] Cawllec commented on #292
With the release of 2.14.1 this issue should now be fixed.

[2018-03-07 15:47] #292 closed

[2018-03-10 01:54] piperone commented on #255
Has there been any progress on this?

[2018-03-20 22:00] russianryebread commented on #181
My `BugsnagServiceProvider` has always been before the `AppServiceProvider`, but after running `composer update` today, and getting the latest version `v2.14.1` it broke with this error.  The fix was to manually copy the `bugsnag.php` config file from the vendor directory to the `config/` directory because even `artisan` gave the "Invalid API Key" error.

<img width="609" alt="screen shot 2018-03-

[2018-03-21 09:00] Cawllec commented on #181
Thanks for the information @russianryebread, I'll have a look into why this is occurring for you.

[2018-03-21 15:07] GrahamCampbell commented on #181
I wonder if the command is crashing, and trying to log to bugsnag which is causing this error, which is hiding the real error?

[2018-03-23 10:36] adiachenko commented on #270
@Cawllec What do you mean? I tried to access LogManager directly via the container, it still doesn't send messages to Bugsnag.

So my question is, how do you actually make it work?

[2018-03-26 11:30] CrixuAMG commented on #226
What is the progress on this issue? We're running bugsnag on our testing server and since we don't get the output of the exception we cannot easily determine the cause of any issue for now.

I'll remove the package for now in order to fix the issues present in the application.

Thanks in advance!

[2018-03-26 13:13] Cawllec commented on #226
As indicated in the discussion there isn't really a good way of fixing this for us at the moment.  I'd advice you to check out @dominics fix above for a way around this issue for now.

[2018-03-30 12:26] Donkfather opened #297 "Class bugsnag does not exist"
### Expected behavior
When `php artisan` is run it should show a list of all commands

### Observed behavior
When ran `php artisan` i got an error
[code]

### Steps to reproduce
Set APP_ENV to anything but `local`

### Version
laravel/framework 5.5.39
bugsnag/bugsnag-laravel 2.4.3

[2018-03-30 12:29] GrahamCampbell commented on #297
Have you registered the service provider in config/app.php?

[2018-03-31 03:15] ryantbrown commented on #297
I am having this same issue and it just started happening. Locally it works but production I get the same error.

[2018-04-02 07:20] Donkfather commented on #297
@GrahamCampbell yes. If APP_ENV is set to `local` it works no problem. If I set it to anything else .. I get the error. But from playing around I think that the error is only in artisan. not sure ..

[2018-04-04 09:32] Cawllec commented on #297
Hi @Donkfather, can you verify the Bugsnag-laravel version?  We haven't released a v2.4.3 of Bugsnag-laravel.

[2018-04-04 10:30] njxqlus commented on #297
Same bug.
APP_ENV=local
Laravel 5.6.15
Bugsnag 2.14.1

Steps:
[code]

Composer.json:
[code]

[2018-04-04 10:32] GrahamCampbell commented on #297
You shouldn't need to call notifyException if the logging is setup properly.

[2018-04-04 10:39] Cawllec commented on #297
@njxqlus, have you set up the facade alias:
`'Bugsnag' => Bugsnag\BugsnagLaravel\Facades\Bugsnag::class,`
in your class Aliases array in `config/app.php`?

[2018-04-04 10:48] njxqlus commented on #297
@GrahamCampbell I tried to call Exception without notifyException in Handler, nothing happened.
@Cawllec I follow instruction in my panel, there are nothing about that, but now I added alias. Nothing changed: if I try to `Bugsnag::notifyException` from my controller `Class bugsnag does not exist` error appear

[2018-04-04 11:02] Cawllec commented on #297
Have you followed the steps about setting up logging [here](https://docs.bugsnag.com/platforms/php/laravel/#laravel-5-6)?

[2018-04-04 11:03] njxqlus commented on #297
@Cawllec yes, my `logging.php` looks like this:
[code]

[2018-04-04 11:47] GrahamCampbell commented on #297
Can you run `php artisan tinker` and then `config('app.providers');` please and show us the output?

[2018-04-04 12:12] njxqlus commented on #297
@GrahamCampbell yes, this is my error. I have the habit that laravel packages are auto adding to providers

[2018-04-11 19:15] reinink commented on #226
Just another +1 for solving this.

@GrahamCampbell did you ever put together a PR to optionally allow this behaviour?

[2018-04-13 08:55] Cawllec commented on #297
Closing this for now, @Donkfather if you have any more information please let us know and I'll re-open this.

[2018-04-13 08:55] #297 closed

[2018-04-17 17:39] gpopoteur commented on #181
Fresh install, was driving me crazy trying to make it work, followed the comment from @russianryebread and it magically worked for me.

[2018-04-21 12:56] pactode opened #299 "ReflectionException: Class bugsnag does not exist"
### Expected behavior
Tests should run smoothly even though the `BugsnagServiceProvider` has been added.

### Observed behavior
When running tests I get the `ReflectionException: Class bugsnag` does not exist. Removing the BugsnagServiceProvider from the `config/app.php` file results in no errors are thrown during tests.
I have followed the instructions from the docs and made sure the `BugsnagServ

[2018-04-23 09:49] Cawllec commented on #270
We've had a release since this issue was last updated, so I'll close this for now, but if the issue reoccurs please post back here.

[2018-04-23 09:49] #270 closed

[2018-04-23 09:50] Cawllec commented on #299
Hi @pactode, what does it look like when you've added `BugsnagServiceProvider` to `config/app.php`?

[2018-04-23 10:29] pactode commented on #299
[code]
Hi @Cawllec, above is the providers array from my config.

[2018-04-23 10:47] Cawllec commented on #181
I haven't been able to reproduce this error yet, on a fresh install with `v2.14.1` everything seems to work as expected, and commands such as `php artisan vendor:publish --provider="Bugsnag\BugsnagLaravel\BugsnagServiceProvider"` work correctly when copying the config across.

@gpopoteur any information such as laravel version or reproduction steps would be greatly appreciated.

[2018-04-23 10:56] Cawllec commented on #299
Thanks.  It looks like you may be seeing a similar issue to #181.  Can you try running `php artisan config:cache` and see if you get the same result?

[2018-04-23 11:05] pactode commented on #299
Thanks for you response.

If I run `php artisan config:cache` it will not cache the phpunit specific `.env` overwrites. Do you have any way to handle this or perhaps a way to disable the provider when running tests?

E.g. would you recommend using a `.env.testing` file instead of overwriting via `phpunit.xml`?

[2018-04-23 12:32] Numline1 commented on #181
@Cawllec I presume this happens when there's any other error and it triggers Bugsnag, which may not yet be configured. As @russianryebread mentioned above, it was an incorrect API key.

[2018-04-23 14:40] Cawllec commented on #299
Thanks, I'll take a more detailed look into this and will update you when I know more.

[2018-04-23 14:41] Cawllec commented on #181
Yes, I believe like @GrahamCampbell mentioned it's possible a different bug is occurring before Bugsnag initialises and the `Invalid API Key` issue replaces it in the console.

[2018-04-25 08:50] Cawllec commented on #299
Just a few more questions:
What version of Laravel are you using?
Are you running any code that would call `bugsnag` directly within any of your tests?
Can you narrow down which tests are failing, or are all failing?
If you're using Laravel 5.6, have you set up your logging configuration as per [the docs](https://docs.bugsnag.com/platforms/php/laravel/)?
Are you using the `Log` facade at all durin

[2018-04-25 12:48] pactode commented on #299
**What version of Laravel are you using?**
v5.6.17

**Are you running any code that would call bugsnag directly within any of your tests?**
No, I'm not.

**Can you narrow down which tests are failing, or are all failing?**
Yes, it's the same two tests, but running them individually throws no errors. It is two simple index methods which returns a collection of API Resources.

**If you're using Lara

[2018-05-03 14:50] dbpolito opened #301 "Log error aren't going to Bugsnag"
### Expected behavior

[code]
Should go to Bugsnag

### Observed behavior

It's not going to Bugsnag

### Steps to reproduce

[code]

[code]

### Version

* `laravel/framework`: `5.4.36`
* `bugsnag/bugsnag-laravel`: `2.14.1`

### Additional information

My AppServiceProvider:

[code]

[2018-05-03 18:39] GrahamCampbell commented on #301
Thanks for getting in touch. Dynamically registering the bugsnag service provider won't work. You should instead use release stages to exclude local from notifying.

Also, you should remove `$this->app->alias('Bugsnag', Bugsnag::class);` as it won't have the correct affect of doing a facade alias, which is what I assume you wanted. You'll need to use the `aliases` in the `config/app.php` file.

[2018-05-03 18:40] GrahamCampbell commented on #301
By default Bugsnag won't actually attempt to notify if the env is local actually. Please see the docs at https://docs.bugsnag.com/platforms/php/laravel/configuration-options/#release-stage.

[2018-05-07 15:47] dbpolito commented on #301
So my findings here are:

### logger() is not working from 5.3 to 5.5

Because of this:

https://github.com/laravel/framework/blob/5.4/src/Illuminate/Support/Facades/Log.php#L17-L20
https://github.com/laravel/framework/blob/5.4/src/Illuminate/Foundation/helpers.php#L495-L502

The helper calls `app('log')` which isn't aliased to Bugsnag one, so it doesn't work at all, my workaround was at file `boo

[2018-05-10 16:52] Cawllec commented on #301
Hi @dbpolito, I've confirmed your findings, and I'm glad you've found a workaround.  However this may be an issue we end up documenting, unless we can think of a non-intrusive solution.  I'll discuss it with my colleagues.

[2018-05-22 20:22] ragingdave opened #302 "Params in Bugsnag is incorrect with non-json data"
### Expected behavior
When something like SOAP or xml is posted to laravel and an exception occurs I would expect to see that in the bugsnag interface under params.

### Observed behavior
When something like SOAP or xml is posted to laravel and an exception occurs params is an empty array.

### Steps to reproduce
Post XML data to a route and throw an exception note that the request in bugsnag is e

[2018-06-02 21:21] synergixe commented on #297
This is a huuge bug now... I can't even use BugSnag at all.

I have tried everything I know in Laravel-Land and still no respite

I have the same exact Laravel version as @nxjqlus

[2018-06-04 07:48] Cawllec commented on #297
Hi @synergixe, have you tried the same solution, ensuring the Bugsnag provider is correctly added to your `appServiceProvider`?  If that doesn't work, could you open a new issue for this please?

[2018-06-05 11:05] Cawllec commented on #302
Hi @ragingdave, thanks for the feature request!  I've raised it with our products team and we'll try and update you on when things progress.  In the meantime, are you able to add your data manually by [adding a callback](https://docs.bugsnag.com/platforms/php/laravel/customizing-error-reports/#adding-callbacks)?

[2018-06-05 13:32] ragingdave commented on #302
I actually ended up just converting the non-json data to a param on the request as a pseudo-attribute so it would get picked up by the request->input() call. The problem with the callback is that only certain requests in the application come through as xml so a global callback is a bit overkill for my usage.

[2018-06-05 16:11] Cawllec commented on #302
You can also register a callback in a specific controller so that the callback would only be added when the routes that receive the XML/SOAP data is called.

[2018-06-20 07:08] hardevine opened #305 "Laravel auto discovery ? [Request]"
Hi, does it supports auto-discovery from L5.5 ??, that would be awesome.

[2018-06-21 13:25] lezhnev74 opened #306 "It triggers MessageLog event 3 times"
### Expected behavior
I want to see just one message in browser:
[code]

### Observed behavior
I see three messages in browser:
[code]

### Steps to reproduce
- install laravel 5.5
- install bugsnag-laravel (latest version)
- follow [installation instructions](https://docs.bugsnag.com/platforms/php/laravel/#installation)
   As it says: `If you’d like to keep logging to your original logger as well

[2018-06-27 13:56] babinicz01 opened #307 "Fatal error: Allowed memory size of 268435456 bytes exhausted"
I try to upload my backup files to local flywheel wordpress site. In case of big type files such as "uploads" (~4GB size) and "others" (~3GB size) appears information such as that one:

All picture: [https://drive.google.com/file/d/1Ww-pza_M6gkHR7Kq8U3NLRNE2N23OvkX/view?usp=sharing](https://drive.google.com/file/d/1Ww-pza_M6gkHR7Kq8U3NLRNE2N23OvkX/view?usp=sharing)

**Virtual server info:**
Web Se

[2018-06-27 18:55] kattrali commented on #307
Unfortunately, this doesn't seem to be an issue with the Bugsnag Laravel integration. Perhaps this was intended for a different repository? Closing for now but feel free to reopen if this is a misunderstanding.

[2018-06-27 18:55] #307 closed

[2018-07-03 10:58] Cawllec commented on #305
Hi @hardevine, thanks for the suggestion!

We're not adding this yet, for reasons outlined in [this](https://github.com/bugsnag/bugsnag-laravel/pull/253) PR.

[2018-07-10 21:24] calvinps opened #310 "Bugsnag\Client's "notify" function has bug for callbacks"
### Expected behavior
$resolvedReport should not be null after calling the provided callback function from \Bugsnag::notifyException

### Observed behavior
$resolvedBehavior is an outside variable that you're trying to be set from inside a closure, which will not work, resulting in it being null when it should be set to the value of $report in the closure

### Steps to reproduce

### Version

###

[2018-07-11 09:56] kattrali commented on #310
Hi @calvinps, thanks for the report. Can you add a snippet showing how the callback is being used?

[2018-07-11 13:12] calvinps commented on #310
@kattrali Sure thing, see below.

[code]

Here's some more info that might help too.

When I include a callback function like the one above I observed that the bug report wasn't showing up on Bugsnag, but if I didn't include a callback it worked as expected. As you can see in my initial report, in the notify function of Bugsnag\Client there is an "if" statement checking to see if a callback is pro

[2018-07-11 13:17] pdbreen commented on #310
Why not just add & so assignment survives?  `$bridge($report, function ($report) use (&$resolvedReport)`

[2018-07-11 15:24] calvinps commented on #310
Yep that works, much simpler fix!

[2018-07-20 10:42] #310 closed

[2018-07-20 15:04] kattrali commented on #310
Thanks again! Released in bugsnag-php 3.14.1, run `composer update bugsnag/bugsnag` to update.

[2018-07-20 17:23] grund3g opened #311 "Errors are not sent to Bugsnag in Laravel 5.6"
### Expected behavior
All Errors are sent to Bugsnag

### Observed behavior
Only a fraction of the errors are sent to Bugsnag

### Version
Laravel 5.6.27 (upgraded from 5.4)

### Additional information
config/app.php
<img width="377" alt="bildschirmfoto 2018-07-20 um 19 19 54" src="https://user-images.githubusercontent.com/6507335/43016071-ec67cab4-8c51-11e8-9fb8-3426d1f0dc7a.png">

.env
<img widt

[2018-07-23 12:16] grund3g commented on #311
It only works if I have APP_DEBUG=true set. Then the bugs are also sent to Bugsnag

[2018-07-23 16:19] bengourley commented on #311
Hi @grund3g, are you [setting the release stage](https://docs.bugsnag.com/platforms/php/laravel/configuration-options/#release-stage) to `"production"`?

If not, based on your `BUGSNAG_NOTIFY_RELEASE_STAGES` configuration, you will be preventing error reports being sent from any environment that is `!= "production"`.

[2018-07-23 16:43] grund3g commented on #311
Hi @bengourley ,
not explicitly, but as mentioned in the description it should default to the app environment if it is not set ("Leaving this unset will default to using the application environment.") and this is set to `APP_ENV=production`

Actually, the` BUGSNAG_NOTIFY_RELEASE_STAGES=production` in the screenshot was just to figure out if it would change anything.

but as mentioned above it is s

[2018-07-23 18:14] bengourley commented on #311
Ok thanks, just wanted to rule that out.

Is there any more info you can provide? Have you tried making a reduced
test case? Does it work for you if you clone our example laravel project?

On Mon, 23 Jul 2018, 17:43 grund3g, <notifications@github.com> wrote:

[2018-07-25 02:33] dwightwatson commented on #311
I'm having issues with Bugsnag and Laravel 5.6 as well.

I've pulled down the example Laravel project from this repo, configured by API key and forced some exceptions and they did not show up in my Bugsnag dashboard.

In my app I have the exact same logging configuration as @grund3g, have the service provider registered manually and set my API key using the `BUGSNAG_API_KEY` environment variable -

[2018-07-25 08:56] bengourley commented on #311
Can I just confirm that you're using a version of bugsnag-laravel >= v2.14.0? Laravel 5.6 support was added in that version.

[2018-07-25 09:01] grund3g commented on #311
I am currently using v2.14.1

[2018-07-25 09:36] bengourley commented on #311
Ok, thanks. I'll get this looked into.

[2018-07-25 10:12] bengourley commented on #311
I just cloned the example in this repository and navigated to `/test` – I got the example exception in my dashboard.

Here are the exact steps I followed:

- clone this repo (`git clone git@github.com:bugsnag/bugsnag-laravel.git`)
- create a Dockerfile in the `example/laravel56` directory
[code]
- create `.env` file (`cp .env.example .env`)
- fill out `BUGSNAG_API_KEY` and `APP_KEY` values in `.en

[2018-07-25 10:35] grund3g commented on #311
I will clone the example repo and test it. Another interesting behavior: I just tried to `throw new Exception('Example exception!');` in a controller and I have forgotten to import the Exception.

Nothing on Bugsnag but in my laravel.log:
`production.ERROR: Class 'App\Http\Controllers\Exception' not found`

After importing the Exception I can see the error in Bugsnag.

[2018-07-25 10:48] bengourley commented on #311
That sounds like it might be due to order of imports – if this error happened before Bugsnag was imported/initialized then Bugsnag obviously can't handle it. Does that sound plausible with your codebase?

[2018-07-25 10:50] dwightwatson commented on #311
I cloned it earlier today on my work computer and have now tried again on my personal computer. I don't use Docker - instead I just use Laravel Valet - so not a total replication of your process. However, I'm still experiencing the same issue.

What's odd is that it's intermittent - I had this earlier too but didn't mention it because I hadn't narrowed down whether it was my fault or not. However

[2018-07-25 12:46] bengourley commented on #311
Do you see anything in the logs when you trigger an exception that doesn't get sent to Bugsnag?

[2018-07-25 12:49] dwightwatson commented on #311
Yeah, it still shows up in `laravel.log`. Finishing up for the night here now but will continue playing tomorrow to see if I can get any more information.

[2018-07-25 13:42] grund3g commented on #311
Not really. I also checked / tested several times the order of the ServiceProvider registration. Currently I have the `BugsnagServiceProvider` at first place in my providers array in the `config/app.php`.

I just tried to `Bugsnag::notifyError('ErrorType', 'Something bad happened');`, but nothing. To be absolutely sure, I also checked the network connections but there is no connection to bugsnag.c

[2018-07-25 14:07] grund3g commented on #311
Just noticed the same here. I've thrown a RuntimeException in a controller. The first time it has been sent to bugsnag, but no matter how many times I cause the error again, nothing is sent to bugsag. Only logged in laravel.log

[2018-07-25 14:32] bengourley commented on #311
Please can you send an email to support@bugsnag.com with your organization name, account email address and project you are sending errors to, so that we can take a closer look at that side of things?

[2018-07-25 15:41] grund3g commented on #311
@bengourley thanks for your help! I've just contacted the support.

[2018-08-01 14:13] designbyjr commented on #311
After a thorough look at the bugsnag vendor code is the bugsnag/bugsnag repository that composer downloads for bugsnag-laravel to use and it should be bugsnag/bugsnag namespace not bugsnag.

Your namespacing is wrong guys, how can anyone of missed this?

[2018-08-02 19:39] kattrali commented on #311
@designbyjr That doesn't seem to be the case; the namespace doesn't need to be the same as the vendor path. The `bugsnag/bugsnag` library contains the primary PHP interface and thus is in the `Bugsnag` namespace. The `bugsnag/bugsnag-laravel` package is an extension of that and thus is in the `Bugsnag\BugsnagLaravel` namespace. If there was an issue with the namespace, it would not be a silent fai

[2018-08-06 07:30] grund3g commented on #311
@dwightwatson Have you been able to find anything else on your side?

[2018-08-07 00:01] dwightwatson commented on #311
No, haven't been able to narrow it down at all. I wondered if it was somehow related to batch sending but I haven't found anything conclusive. I still find that even when I can trigger an exception to show up in Bugsnag, repeating the exact same steps will not trigger another event. Honestly not sure what's going on.

[2018-08-08 00:42] dwightwatson commented on #311
@grund3g were Bugsnag able to help you at all on your end? Was hoping some progress would be made there.

[2018-08-10 14:27] dsge opened #312 "Using a custom middleware will show up as the primary source of all reported exceptions in bugsnag"
### Expected behavior
When an exception occurs in laravel's `/app` folder (but not in the middleware itself) I would expect Bugsnag to open the stacktrace at the source of the exception (e.g. at the line that has `throw new Exception()`).

In other words, I would expect Bugsnag to treat `routes/web.php:15` as the source of the exception, like this:
![image](https://user-images.githubusercontent.co

[2018-08-10 19:42] grund3g commented on #311
@dwightwatson unfortunately not yet but according to the support they are also working on it.

[2018-08-10 20:50] snmaynard commented on #312
In this case you want to set the inproject to false. If you do that, it will only group on the very top line of the stacktrace when all lines are out of project - which I think is what you are asking for.

[2018-08-11 07:46] GrahamCampbell commented on #312
You could also:

1. Define your routes from somewhere within the `app` folder so that Bugsnag thinks they're project code, like in the example project (https://github.com/bugsnag/bugsnag-laravel/blob/master/example/laravel/app/Http/routes.php and https://github.com/bugsnag/bugsnag-laravel/blob/master/example/laravel/app/Providers/RouteServiceProvider.php#L45-L60).

or

2. Tell Bugsnag the routes f

[2018-08-13 13:10] dsge commented on #312
Thanks for your answers. I ended up overriding `Bugsnag\Configuration::isInProject()` so that it excludes my middlewares and includes my routes (I didn't even realize that the routes were not included) but otherwise it maintains previous functionality.

As far as I can tell `$projectRoot` cannot be a regex there. And the resulting `$this->projectRootRegex` cannot be modified from the outside. But

[2018-08-13 13:10] #312 closed

[2018-08-20 17:46] kingsloi commented on #311
I can confirm, we were also affected by this issue. We lost 2 days worth of leads because our db went down (and those alerts different trigger for a separate issue) but our Laravel app was 500'ing but we were not receiving any Bugsnag alerts at all from our production environment.

To confirm this is a production only issue, I renamed my local database incorrectly, hit the webapp a few times on my

[2018-08-20 18:58] vladflip commented on #311
laravel 5.6.29
bugnang-laravel 2.14.1

We have the same issue on our project. The errors are reported randomly (sometimes does, sometimes doesn't) without any changes in the configuration. Config file is not published. The channel in `logging.php` is set up according to the website installation doc.

[2018-08-21 01:32] kattrali commented on #311
I've spent some time investigating this issue, and the furthest I've gotten is that using any of the reproduction setups posted above (using Valet, using Docker, using neither and manually `php artisan serve`ing), reports are _generally_ delivered, with two exceptions:

1. Occasionally a request will fail for networking reasons. I observed 5 or 6 in a batch of 900+ requests.
2. Not every error was

[2018-08-22 09:08] sarderiftekhar opened #314 "Cant make controller in luman"
I am trying to make a controller but getting this error.

C:\xampp\htdocs\gimo\gov2>php artisan make:controller netbetngController
  [ErrorException]
  Undefined index: HTTP_HOST

Can some one please help.

[2018-08-27 21:33] grund3g commented on #311
have continued testing the last days and have now tested the standard php library.

In the `register()` method in the `AppServiceProvider`:
[code]

So far, everything's going the way it should be and the errors are reported correctly to bugsnag.

[2018-08-28 08:02] grund3g commented on #311
and unfortunately not! Apparently worked, but now reacts exactly as before

[2018-08-29 00:19] bkuhl opened #315 "Log::warning() context not visible in Bugsnag"
<img width="477" alt="screen shot 2018-08-28 at 8 12 16 pm" src="https://user-images.githubusercontent.com/524933/44757754-b7640280-aafe-11e8-920b-4c6ff8c993bc.png">

### Expected behavior
Passing a 2nd parameter (as context) to `Log::warning()` should append the log data similiar to `Bugsnag::addMetadata()` in that "Log Context" would appear as its own tab.

### Observed behavior
The data is not

[2018-08-30 17:19] GrahamCampbell commented on #315
Interesting. You should be seeing the release tab there, since the context is directly used as metadata: https://github.com/bugsnag/bugsnag-psr-logger/blob/v1.4.1/src/BugsnagLogger.php#L110. I wonder if the word `release` is reserved, I'd have to dig into the code. Could you try using something other that "release" - does that work correctly?

[2018-08-31 17:26] GrahamCampbell commented on #314
Related to https://github.com/bugsnag/bugsnag-laravel/issues/68 perhaps?

[2018-08-31 17:30] GrahamCampbell commented on #314
What version of Bugsnag's library are you using please? This looks a lot like the same issue I fixed a few years ago: https://github.com/bugsnag/bugsnag-php/pull/302.

Please could you run `composer show | grep 'bugsnag/\|laravel/'` from the directory of your project that contains the `composer.json` file. This will show us the versions of Bugsnsag and Laravel you have.

[2018-09-04 14:34] Cawllec commented on #306
Hi Hi @lezhnev74, this seems to be an issue with our latest implementation.  The default `MultiLogger` contains 3 sub-loggers: the apps `log`, the base `bugsnag.logger`, and the apps `events` logger.  The `bugsnag.logger` contains a further two targets - the `bugsnag` instance, and the apps `events` logger again.

It seems we're logging a message to the apps `log`, and dispatching two messages thr

[2018-09-04 22:38] wsakka commented on #311
What @grund3g posted 8 days worked for me (I just had to take out the second line): https://github.com/bugsnag/bugsnag-laravel/issues/311#issuecomment-416376262.

So this is my register method:
[code]

[2018-09-06 19:44] kasperwandahl commented on #311
I'm experiencing the same issue. On my production site it only reports errors to bugsnag if `APP_DEBUG` is `true`, locally it works fine in all cases.

[2018-09-06 20:34] kingsloi commented on #311
I think I found my issue, so I apologies @bugnsag!

In my local environment, I have `LOG_CHANNEL=stack` set in my `.env`, but my production env has `LOG_CHANNEL=single`, which I may have missed but I think it may have something to do with this commit, hen they change the default logging, and maybe Laravel Shift from 5.5 -> 5.6:

I may not be that, but I've got a stinking feeling it is. My errors h

[2018-09-13 14:05] scofield-ua commented on #311
Experiencing the same issue on Laravel 5.7 (5.7.2). It works fine when  `APP_DEBUG=true` though.

[2018-09-17 09:56] smknstd opened #317 "How could I mark logs from different channels ?"
I use different logging channels in my laravel app. I log them all in bugsnag but it seems I'm unable to filter them then. Does anybody using channels ? How could I do that ?

thanx

[2018-09-17 10:49] Cawllec commented on #317
Hi @smknstd, the suggested way would be to use [callbacks](https://docs.bugsnag.com/platforms/php/laravel/customizing-error-reports/#adding-callbacks).  I would be to add a callback in each channel identifying the channel in question, like:
[code]
Then when a message from a particular channel is sent to Bugsnag, the channel name should appear as metadata.  You may have an issue if messages are bei

[2018-09-17 10:50] Cawllec commented on #315
Hi @bkuhl, I'm going to close this for now, but if you have an update or any further progress on the issue please let us know.

[2018-09-17 10:50] #315 closed

[2018-09-17 11:54] smknstd commented on #317
Hi @Cawllec, thanx for your quick answer. Adding metadata manually seems like a good idea, but I don't get how would I register a different callback for each channel. Do you have any idea ?

[2018-09-17 13:44] smknstd commented on #317
Also, dashboard filtering based on the new metadata field would require a "Custom filter" which is only available on pro plan...

[2018-09-17 18:14] snmaynard commented on #317
You could also use the context field which is filterable by default, but then you would lose the ability to filter based on what is in there right now.

[2018-09-19 09:18] snmaynard commented on #317
You can use `report.setContext` from https://github.com/bugsnag/bugsnag-php/blob/master/src/Report.php#L454

[code]

[2018-09-19 09:28] OllyTeam commented on #299
ReflectionException thrown with message "Class signed does not exist"

Stacktrace:
#7 ReflectionException in /opt/lampp/htdocs/thelink/vendor/laravel/framework/src/Illuminate/Container/Container.php:767
#6 ReflectionClass:__construct in /opt/lampp/htdocs/thelink/vendor/laravel/framework/src/Illuminate/Container/Container.php:767
#5 Illuminate\Container\Container:build in /opt/lampp/htdocs/thelink/

[2018-09-19 09:38] smknstd commented on #317
Thanx for your help ! But I have the same problem as before... I don't get how would I register a different callback for each channel.

[2018-09-19 09:41] snmaynard commented on #317
You can't. You'd have one callback and then you'd have to figure out which channel the log message came from.

Depending on how you are hooking up the log channels you could do this as a part of the notify call (setting the context).

[2018-09-19 09:54] smknstd commented on #317
My question was about laravel 5.6 logging channels https://laravel.com/docs/5.6/logging#writing-to-specific-channels, I can't set context specifically every time...

[code]

[2018-09-20 09:34] #181 closed

[2018-09-20 09:35] #305 closed

[2018-09-20 09:36] Cawllec commented on #314
Hi @sarderiftekhar, I'm closing this for now.  If the issue reoccurs, or you've got some more information, we'll get it reopened.

[2018-09-20 09:36] #314 closed

[2018-09-20 09:37] Cawllec commented on #299
Hi @OllyTeam, would you mind making this as a new issue, and linking back to this issue?  Thanks.

[2018-10-01 04:48] 120dev opened #318 "Sending asynchronous requests [feature request]"
Hello, is it possible to send the requests in asynchronous ? this would avoid blocking the user-side process.

thank you very much

[2018-10-01 07:42] GrahamCampbell commented on #318
Bugsnag won't block the user already by default, since it sends error reports after the response has been served to the user.:)

[2018-10-01 11:29] 120dev commented on #318
thanks for the return, however if a webhook is configured, the user feedback is done once the webhook is deployed (notifi slack in this case)

Laravel 5.7

[2018-10-10 11:14] Cawllec commented on #302
I'm closing this for now, but I'll update it as the feature request progresses.

[2018-10-23 15:46] daniel-de-wit commented on #311
Turns out my test errors didn't come in on a new project.. Due to event limit of Bugsnag subscription ( other project was spamming 200k+ logs a day on average).

If your seeing "**Events Recently Sampled**" in the main navigation bar. You will not receive new logs, click on it to find the culprit project.

[2018-10-24 03:42] 120dev commented on #318
Hi @Cawllec

I configured in (parameter -> integration) a webhook to Slack.

And when I do a `Log :: error ('hello world !!');` the backend (it's on an API), only responds when the webhook is gone to slack and slack sent back to the channel

here is an example with bugsnag and without bugsnag

![mbp120 2018-10-24 a 14 40 59](https://user-images.githubusercontent.com/4286701/47404917-f4fda880-d79a-

[2018-10-25 04:17] craftyshaun commented on #306
Hi @Cawllec have you made any progress on this bug?

We are also seeing this on the `\Log::listen(...)` function as well which most likely uses the same event hooks.

[2018-11-03 18:39] jimmypuckett commented on #75
This is back with v2.15.0 Release

[2018-11-03 18:47] jimmypuckett opened #331 "The fixtures conflict with App namespace"
### Expected behavior
Not to conflict with `App` namespace

### Observed behavior
The fixtures have files that are registering in the `App` namespace like `App\User`.  That is causing the fixture to sometimes mask the real `App\User`

### Steps to reproduce
* Install fresh Laravel
* Install v2.15.0

### Version
2.15.0

### Additional information
This is a regression to #75

[2018-11-04 18:02] ankurk91 commented on #318
@120dev
Are you referring to Async request feature in Guzzle?
http://docs.guzzlephp.org/en/stable/quickstart.html#async-requests

[2018-11-05 19:51] #331 closed

[2018-11-06 07:12] rbresjer opened #333 "Laravel can't find Bugsnag driver"
### Expected behavior
Exceptions are sent to Bugsnag.

### Observed behavior
Laravel can't find the Bugsnag driver and therefore logs to the emergency log:
[code]

### Steps to reproduce
No idea... I thought it worked before, might be broken since a composer update but not sure. Might be that just sending a test exception via the Bugsnag facade worked.

### Version
- laravel/framework v5.7.12
- bu

[2018-11-06 09:17] grund3g commented on #311
Oh WOW! You can't imagine how much time that took me. Would have been great if the Bugsnag support had pointed this out to me, as I have been in contact with them several times.

Closing this issue as it fixed the problem for me!

[2018-11-06 09:17] #311 closed

[2018-11-08 07:36] rbresjer commented on #333
I tried clearing everything, but unfortunately the issue persists...

[code]

[2018-11-09 07:58] rbresjer commented on #333
@ankurk91 Thanks, that was it. Someone forgot the `^` in the composer.json..

[2018-11-09 07:58] #333 closed

[2018-11-20 16:01] matthew-inamdar commented on #301
If anyone else is facing this issue, another thing to note is that the errors don't seem to send when using Tinker.

Setup a temp route which logs the error and then access it from the web. This solved it for me.

[2018-11-25 15:50] lezhnev74 commented on #306
I must say that my project [apideveloper.io](https://apideveloper.io) is highly affected by this issue (this service logs all messages to the external storage and I observe multiple entries as a result). If you can increase the priority of this subject that would be most appreciated!

[2018-12-07 20:19] mikepsinn commented on #299
@pactode Could you be more specific about the solution to your issue?  I'm having a pretty much identical problem.

[2019-01-04 12:38] lezhnev74 commented on #306
Happy new year! 🌴 Can you refresh the state of this issue?

[2019-01-09 10:46] Cawllec commented on #306
Hey guys, we've bumped up the priority of this and will be getting to it ASAP.  Thanks for your patience.

[2019-01-10 14:35] lezhnev74 commented on #306
Nice to hear to you are tackling this!

Based on your response, does it mean that this code will echo twice?
[code]

[2019-01-15 10:48] Cawllec commented on #317
Hi @smknstd, apologies for a reply taking so long.  Did you manage to get any further with this? Did you find a way to identify which channel a specific log came from inside a logger?

[2019-01-15 15:08] #306 closed

[2019-01-16 10:12] Cawllec commented on #317
I'm going to close this issue for now, but if you have any more queries reply here and I'll get it reopened.

[2019-01-16 10:12] #317 closed

[2019-01-16 11:37] gustavodebiasi opened #340 "Laravel Strict Mode Errors aren't going to Bugsnag"
### Expected behavior
All errors to be reported in bugsnag

### Observed behavior
All strict mode unhandled errors aren't being reported to bugsnag

### Steps to reproduce
1 - Active strict Laravel Mode MySQL database
2 - create a non-nullable field in database
3 - try to save a record without any content in this field
4 - the error is reported in laravel log storage but not in bugsnag

### Versio

[2019-01-17 15:56] Cawllec commented on #318
Can I ask how you are testing this @120dev?  Through some quick testing I'm seeing very little difference in response times between Bugsnag being activated or not, but performance is important and this is something we'd like to reproduce if we can.

[2019-01-21 10:59] gustavodebiasi commented on #340
I'm using Laravel 5.7

I tought I could be this, but the problem is that I'm not receiving errors just from strict mode. The others I'm receiving.
In the same time, I tried again looking for the events usage (today was 18 events) and I tried to make the error again, on bugsnag didn't receive, but on laravel log yes.

![image](https://user-images.githubusercontent.com/15871743/51470232-747b2380-1d5

[2019-01-21 12:14] GrahamCampbell commented on #340
Hmmm. What does you log configuration look like please? Is the logging system trying to write to the database perhaps, and crashing before it gets around to calling Bugsnag?

[2019-01-21 12:58] gustavodebiasi commented on #340
@GrahamCampbell I don't think so...

`'default' => 'stack',

    'channels' => [
        'stack' => [
            'driver' => 'stack',
            'channels' => ['daily', 'bugsnag'],
        ],

        'bugsnag' => [
            'driver' => 'bugsnag',
        ],

        'single' => [
            'driver' => 'single',
            'path' => storage_path('logs/laravel.log'),
            'level' =>

[2019-01-21 15:57] amineameur opened #341 "PHP Fatal error: Uncaught ErrorException: php_uname() has been disabled for security reasons in"
[21-Jan-2019 15:55:54 UTC] PHP Fatal error:  Uncaught ErrorException: php_uname() has been disabled for security reasons in /home/lgavocat/public_html/myapp/vendor/bugsnag/bugsnag/src/Configuration.php:468
Stack trace:
#0 [internal function]: Illuminate\Foundation\Bootstrap\HandleExceptions->handleError(2, 'php_uname() has...', '/home/lgavocat/...', 468, Array)
#1 /home/lgavocat/public_html/myapp/

[2019-01-21 15:58] amineameur commented on #341
my application turn on local but when i put it on server error_log shows me this can any one please help me

[2019-01-22 10:52] Cawllec commented on #341
Hi @amineameur, this is likely due to the `disable_functions` setting of the servers `PHP.ini` containing `php_uname` by default, disabling that functionality.  If the `php_uname` entry can be removed, the library should work as expected.

In the meantime, I'll raise a suggestion to our products team to restrict this call in environments where it may be problematic.

[2019-01-22 11:10] amineameur commented on #341
@Cawllec thank you :blush:

[2019-01-22 17:06] #341 closed

[2019-01-24 11:02] Cawllec commented on #340
Hi @gustavodebiasi, I'm investigating this issue now, as we've had a similar report of QueryExceptions potentially not being notified.  I haven't been able to reproduce the issue in any of our example apps following your steps, so was hoping you'd be able to provide us with some more information to help narrow down what's happening.

It'd be useful to know:
- Where the failing query is occurring (

[2019-01-24 16:43] Cawllec commented on #340
As an extra step, it would be really useful if you could present a reproduction case, such as a Laravel app in a git repo that will help to track down and fix the issue.

[2019-01-25 13:51] gustavodebiasi commented on #340
Hi @Cawllec, no problem!

On Controller

Yes

I'm using normal Model Database from Laravel

Yes

About the Repo, I'll make it and after I'll send you.

[2019-01-29 10:13] Cawllec commented on #318
I'm closing this thread for now, however if you have any issues or reproduction cases please get in contact.

[2019-01-29 10:13] #318 closed

[2019-01-29 13:35] gustavodebiasi commented on #340
Hi @Cawllec and @GrahamCampbell , just found de problem.

I'm getting this error when the package is sending the error to Bugsnag:
`"json_encode error: Malformed UTF-8 characters, possibly incorrectly encoded"`

This problem is occuring because of my user object. I have some data that isn't utf-8 encoded.

Desabling the BUGSNAG_USER, Bugsnag reporting works fine.
But, I wanted to receive the user

[2019-01-30 09:54] Cawllec commented on #340
Hi @gustavodebiasi I've raised a ticket to improve our support for payload filtering and sanitation in the PHP notifiers, and although I'm closing this ticket it'll get an update when we're implementing the necessary changes.  Thanks for your feedback.

[2019-01-30 09:54] #340 closed

[2019-02-02 10:48] 120dev commented on #318
Hello,

sorry for the delay

I still think that the whole process is synchrone, you should not have the same feeling because you must have low latency on the internet, I test from New Caledonia.
I notice especially this latency when I do tests from my computer, when it is on the servers we do not notice this latency because the connections are fast. That's what makes me think that it's not asynchr

[2019-02-03 14:05] GrahamCampbell commented on #318
I think all the bytes of the request should have been sent within the first 251ms in the "with" case however. Is you load balancer keeping the request from being closed?

[2019-03-13 10:10] Tlapi opened #346 "Wrong error logging in Jobs with latest laravel"
### Expected behavior
Get full error log

### Observed behavior
ReflectionException artisan xxx:yyy
Method XXXX\YYYY::report() does not exist

### Version
bugsnag/bugsnag v3.16.0
laravel/framework v5.8.4

[2019-03-15 12:28] mattdyoung commented on #346
Following this up via Bugsnag support as this looks specific to the errors being reported rather than a generic issue with Bugsnag and Laravel v5.8.4.

[2019-03-15 12:28] #346 closed

[2019-03-22 03:59] nisarga49 commented on #299
Hi I keep getting this error, no way to fix this tried all options. Please help

In ProviderRepository.php line 208:

  Class 'Bugsnag\BugsnagLaravel\BugsnagServiceProvider' not found

[2019-03-22 09:23] snmaynard commented on #299
@nisarga49 I recommend contacting support@bugsnag.com with this - they will be able to assist you better. Thanks!

[2019-03-26 19:21] pjeutr opened #349 "Log::warning messages are marked in bugsnag with severity error"
### Expected behavior
When using Log::warning in an application, bugsnag will mark it with Severity = warning

### Observed behavior
Log::warning messages have Severity = error (also see image)

### Version
bugsnag/bugsnag v3.16.0
bugsnag/bugsnag-laravel v2.15.2
bugsnag/bugsnag-psr-logger  v1.4.1
laravel/framework v5.4.36
### Additional information
Not sure if this happens in this package or somew

[2019-04-10 11:22] KKSzymanowski opened #350 "Metadata not available when request is large"
### Expected behavior
Metadata is shown in Bugsnag dashboard

### Observed behavior
Metadata is not shown in Bugsnag dashboard

### Steps to reproduce
When an exception occurs when processing a large request no cookie, request or custom metadata is available.

I have registered some custom metadata:
[code]
and tested it on two requests:
**50kB request**
![image](https://user-images.githubuserconte

[2019-04-10 11:29] GrahamCampbell commented on #350
Thanks for the report. Very roughly, I think this is actually the expected behaviour. The server has a maximum payload size, so the client library will cut down on the metadata if it's too large.

Perhaps maybe the client library should be more intelligent about what it cuts. Is it the request body itself that's large?

[2019-04-10 11:30] KKSzymanowski commented on #350
Yes, the request body ie. `CONTENT_LENGTH` was 57000 in the first example and 843000 in the second one.

[2019-04-16 03:08] mhimi1 commented on #286
Hi,

This also breaks in "laravel/lumen-framework": "5.6.*",

[2019-05-31 10:24] mverma16 commented on #263
I am facing the same issue. Does anybody have a solution for this?

[2019-05-31 15:24] tomlongridge commented on #263
@mverma16 - the notifier is tested against PHP 7 versions and works in a basic example. Can you confirm that you're using the latest bugsnag-laravel release; the version of Laravel you're using; and if possible provide some sort of reproducing project or instructions?

[2019-06-05 07:51] mverma16 commented on #263
@tomlongridge I checked further and I got it working. But I am still getting the same error when my application is unable to connect to the database. I updated database details in my .env with wrong credentials and tried to log the exception on Bugsnag but it did not notify  and in error logs I have
```PHP Fatal error: Uncaught Error: Call to undefined method Bugsnag\BugsnagLaravel\Facades\Bugsnag

[2019-06-06 13:42] tomlongridge commented on #263
If I adapt the example/laravel56 project to have some database access and then break the credentials in `.env` then I get a Bugsnag reported. Please can you try the same and compare the setup with your own project?

[2019-06-06 13:44] mverma16 commented on #263
Sure, I will try and update if it persists.

[2019-07-28 14:19] musa11971 commented on #297
Was experiencing this problem in production environment, but not locally.

Running the following commands on production fixed it:
[code]

[2019-08-07 17:16] noamgu commented on #226
Also happened to me :(

[2019-08-26 11:44] rauanmayemir opened #362 "A way to NOOP http requests in non-production env"
### Expected behavior
I would like to be able to simply register `BugsnagServiceProvider` in all environments and use things like `Bugsnag::notifyError` and `Bugsnag::notifyException` in my app logic. So if it's a test or local env, such calls should simply be ignored.

### Observed behavior

My app in test env fail due to not being able to connect to bugsnag server. Makes sense, I don't set api k

[2019-08-26 11:59] GrahamCampbell commented on #362
Yes. You can use the `notify_release_stages` config option. :)

[2019-08-26 11:59] GrahamCampbell commented on #362
https://docs.bugsnag.com/platforms/php/laravel/configuration-options/#release-stage

[2019-08-26 15:52] rauanmayemir commented on #362
I tried it before and just tried again, that doesn't seem to work. I even tried setting it directly to something like `'notify_release_stages' => ['production'],` in `config/bugsnag.php`, but the result is always same: `phpunit` call fails with `"Missing 'Bugsnag-Api-Key' header"`.

Is there a minimal basic setup to force bugsnag connect to the server only in production env?

[2019-08-26 15:53] GrahamCampbell commented on #362
Could you show the stack trace for that error please?

[2019-08-26 16:26] rauanmayemir commented on #362
[code]

[2019-08-26 16:34] GrahamCampbell commented on #362
Thanks. You you add `var_dump(config('bugsnag'))` (and remove your api key from the output), to your tests please.

Also, could you show more lines to the trace please?

[2019-08-26 16:44] rauanmayemir commented on #362
Here's the config:

[code]

And here's the full stacktrace:

[code]

[2019-08-26 17:15] GrahamCampbell commented on #362
Ok, thanks for the information. It looks like sessions aren't respecting the release stage config.

[2019-08-28 15:09] tomlongridge commented on #349
This is now fixed by [v1.4.2](https://github.com/bugsnag/bugsnag-psr-logger/releases/tag/v1.4.2) release of the bugsnag-psr-logger. If you update the latest dependencies, warnings will now be correctly reported.

[2019-08-28 15:09] #349 closed

[2019-08-28 15:54] tomlongridge commented on #350
@KKSzymanowski - the limit on breadcrumb size has just been increased in bugsnag-php ([v3.18.0](https://github.com/bugsnag/bugsnag-php/releases/tag/v3.18.0)). If you update your dependencies, I believe this should by sufficient given the sizes quoted above.

[2019-08-28 15:54] #350 closed

[2019-09-05 14:55] browner12 opened #365 "Monolog 2.0 Support"
Any chance we can get this package updated to work with Monolog v2?

I'm willing to give it a shot, but if someone is more familiar with Monolog and the v2 changes, might go a lot quicker.

[2019-09-05 15:42] GrahamCampbell commented on #365
It should work already I think?

[2019-09-05 15:42] GrahamCampbell commented on #365
Just the dependency needs updating in the composer.json by the looks of things.

[2019-09-06 01:18] mikebronner commented on #365
Thanks @GrahamCampbell for making that PR. For those wanting to install bugsnag until the PR is merged:
[code]

[2019-09-10 10:38] tomlongridge commented on #365
Fixed in 2.17.1

[2019-09-10 10:38] #365 closed

[2019-09-19 07:19] hshafiei374 commented on #224
wrong way
[code]
----------------------------------------------
right way 👍
[code]
---------------------------------- don't forget return

[2019-10-14 11:40] rolfdenhartog opened #368 "Feature request: send Bugsnag reports asynchronous"
Hi,

I was wondering if there was a way to send reports asynchronous. I'm submitting the issue here, because there is a simple tool that can be used with Laravel: the Laravel queue (Horizon). The problem right now is that we have requests taking 200ms to respond. Which could be less than 100ms if Bugsnag was sending report in the background. My idea was to using the queue to do this.

I was lookin

[2019-10-15 07:15] it-can opened #369 "Deploy command"
In the file https://github.com/bugsnag/bugsnag-laravel/blob/master/src/Commands/DeployCommand.php  I see that ```Bugsnag\Bugsnag\Utils``` is referenced, but this does not exist in the codebase...

Also when app_version is not set, the deploy command seems to run fine. It will log to the errorlog that the app_version is not set. I think it should display an error on screen.

[2019-10-15 11:35] mattdyoung commented on #368
Hi @rolfdenhartog

This seems like a sensible feature for our PHP libraries to support. We already support asynchronous delivery on many of our other platform error reporting libraries.

We'd want to carefully design this to ensure a consistent approach across our libraries, so we'd be unlikely to accept a PR at this point.

We'll raise as a feature request on our backlog though to investigate whe

[2019-10-15 12:35] mattdyoung commented on #369
Hi @it-can

`Bugsnag\Bugsnag\Utils` exists in the bugsnag-php dependency:
https://github.com/bugsnag/bugsnag-php/blob/master/src/Utils.php

How are you running the deploy command? Doing a `php artisan bugsnag:deploy` as described in the [documentation](https://docs.bugsnag.com/platforms/php/laravel/#tracking-releases) displays the error on screen:
[code]

[2019-10-15 20:16] it-can commented on #369
shouldn't it be ```use Bugsnag\Utils;``` ?

[2019-10-17 22:03] markkimsal opened #370 "Invalid API Key fatal error, registerCallback in AppServiceProvider::boot()"
New installation, try to add meta data with Bugsnag::registerCallback, trigger exception but get an Invalid API Key exception.

[code]

[code]

Somehow it is getting to BugSnagServiceProvider::register() before boot and setupConfig()

It does work later, just not in `appserviceprovider::boot`, where the docs say to put it.

[code]

[2019-10-18 10:56] abigail-bugsnag commented on #370
Hi @markkimsal what is the method you are using for setting your API key?

The error you are seeing is typically thrown if the `api_key` is not known when trying to set up the Client. The guidelines for setting up your API key are available here: https://docs.bugsnag.com/platforms/php/laravel/configuration-options/#api-key

[2019-10-18 13:03] markkimsal commented on #370
I set it in the `.env` according to the documentation at
https://docs.bugsnag.com/platforms/php/laravel/#basic-configuration

This page states that publishing the vendor config is optional, but I don't believe it is.

[2019-10-18 13:05] abigail-bugsnag commented on #369
Thanks @it-can, I believe you are correct. We will take a look at this.

[2019-10-18 13:09] markkimsal commented on #370
[code]

This code works in `routes/web.php` but it dies in `app/Providers/AppServiceProviders.php::boot()`

[2019-10-18 15:32] abigail-bugsnag commented on #370
@markkimsal I have managed to reproduce the 'Invalid API Key' error. This is happening for me when I register `Bugsnag\BugsnagLaravel\BugsnagServiceProvider::class` _after_ the `App\Providers\AppServiceProvider::class` in `config/app.php`.

As mentioned in the [Laravel Installation documentation](https://docs.bugsnag.com/platforms/php/laravel/#installation), it is important to register our service

[2019-10-25 14:33] #362 closed

[2019-11-01 14:16] mathiasgrimm opened #371 "Question: Won't the token expire when on a long running job if the Client is a signleton?"
### Expected behavior
*[Insert details on expected behaviour]*

### Observed behavior
*[Insert details on observed behaviour]*

### Steps to reproduce
*[Insert reproduction steps (if known)]*

### Version
*[Insert version information]*

### Additional information
*[Insert any additional information]*

#### Can't comment on Issues?
Some users have been unable to comment on Github issues when an [ad

[2019-11-04 08:57] rjharrison commented on #371
Hi Mathias. No it won't expire. Both the notifier API key and the data-access API token are fixed and will not expire. You can manually regenerate/delete them via the dashboard.

[2019-11-04 08:57] #371 closed

[2019-11-05 16:36] #370 closed

[2019-12-03 19:35] FoxRocks76 commented on #181
In case this helps anyone else...

My app was working as expected, but suddenly no Laravel Artisan commands would work without throwing this error. I can confirm that what @GrahamCampbell suggested was true in my case. I manually copied the bugsnag.php config file into the config directory, then the real error was now being displayed:

[2019-12-04 10:37] mattdyoung commented on #362
Fixed in bugsnag-php [v3.19.0](https://github.com/bugsnag/bugsnag-php/releases/tag/v3.19.0)

[2019-12-27 00:14] JavierSolis commented on #297
In addition to @ musa11971 I copied the bugsnag.php file in folder config manually and defined the variables in the .env file, so finally I could fix it. u.u

[2020-01-15 17:14] elynnaie opened #379 "Unhandled exceptions not reported to Bugsnag"
### Expected behavior
Exceptions are sent to Bugsnag.

### Observed behavior
Laravel cannot find the Bugsnag driver. This message is thrown in the log:
[code]

### Steps to reproduce
Unknown. I simply put `throw new \Exception('asdf');` at the top of one of my controller methods.

### Version
bugsnag/bugsnag-laravel: v2.17.1
bugsnag/bugsnag: v3.19.0
laravel/framework: v5.8.35

### Additional infor

[2020-01-15 17:46] GrahamCampbell commented on #379
Thanks for getting in touch. Could you provide your app's `composer.lock` file please?

Also, do you have any globally installed packages? (You can find out with `composer73 global show` (if you get an error saying there's no `composer.lock` file in `~/.composer`, then it means you have no globally installed packages))

[2020-01-15 18:00] elynnaie commented on #379
Lock file here: https://pastebin.com/raw/qTc6MTAD

I don't have any globally installed packages.

[2020-01-24 14:49] mattdyoung commented on #379
Hi @elynnaie

I've so far been unable to reproduce the issue you're seeing.

Taking our Laravel example app:
https://github.com/bugsnag/bugsnag-laravel/tree/master/example/laravel57
updating the Laravel and Bugsnag dependencies to the versions you're using and mirroring your channel logging configuration, the example works fine when triggering an unhandled exception.

Are you able to share a stand

[2020-01-27 14:53] elynnaie commented on #379
I am unable to do so. I will close the issue and reopen if I find out anything more.

[2020-01-27 14:53] #379 closed

[2020-02-16 13:02] GrahamCampbell opened #386 "Laravel 7 Support"

[2020-02-25 13:06] #369 closed

[2020-02-25 16:13] #386 closed

[2020-02-28 10:44] mattdyoung commented on #369
Fix released in [v2.18.0](https://github.com/bugsnag/bugsnag-laravel/releases/tag/v2.18.0)

[2020-03-05 11:49] henrysearle opened #390 "Cannot specify timeout"
### Observed behavior
We had an issue at around March 4th 18:20 UTC where we had a lot of different services report a connection issue with Bugsnag and a few other services. Long story short, I believe the connections to Bugsnag services hung, which caused our API requests to stack up and eventually reject connections. I've investigated and there is no way to specify a connection or read timeout t

[2020-03-06 14:14] xander-jones commented on #390
Hi @henrysearle, as far as I'm aware, all of the Bugsnag services were responding as normal throughout the 4th March (you can see any downtime reports here: https://status.bugsnag.com/), so I would think this was an issue on your side.

We're working on our Guzzle client for PHP, and by extension, Laravel. Discussions around inclusion of a configurable timeout will be taking place. Thank you for y

[2020-03-15 17:57] arm092 commented on #297
I just add Bugsnag to providers list, and problem solved

[2020-04-12 11:14] mhimi1 commented on #181
The exception gets thrown because of a different error and this error is hidden by the Bugsnag error as @GrahamCampbell  mentioned. Best way to test whether this is the case in your case is to disable bugsnag temporarily and then run the command again and see whether you get the actual error. Then fix the error and enable bugsnag and you will find it fixed. Happened to me too.

[2020-05-12 11:53] StoianAlexandru opened #399 "Sub package droped - monolog/monolog"
Hello,
I recently installed bugsnag-laravel and after the installation i am getting a message that the "monolog/monolog" package was dropped, just a heads up.

Have a nice day

[2020-05-12 14:26] GrahamCampbell commented on #399
Thanks for getting in touch. What exactly do you mean, please?

Monolog is still listed as a dependency: https://github.com/bugsnag/bugsnag-laravel/blob/master/composer.json#L19.

[2020-05-13 19:06] StoianAlexandru commented on #399
@GrahamCampbell when you install bugsnag, composer notifies me that the monolog package was droped and will not continue to receive suport

[2020-05-13 20:52] GrahamCampbell commented on #399
Can you show us what you see? Monolog is definitely not abandoned.

[2020-05-14 06:37] StoianAlexandru commented on #399
Sure

"....
Package moontoast/math is abandoned, you should avoid using it. Use brick/math instead.
Writing lock file
Generating optimized autoload files
....
"
this is what i get in the terminal on a fresh composer install.

[2020-05-14 07:53] GrahamCampbell commented on #399
That's not monolog. That's moontoast/math, a dependency of Laravel. You will need to upgrade to Laravel 7 to avoid seeing that message. Laravel 6 LTS users can safely ignore it.

[2020-05-15 13:19] #399 closed

[2020-05-17 07:18] SagarNaliyapara opened #400 "Oauth2 now throws 400 Bad Request and that reports to BugsNag"
### Description
* The league/oauth2-server 8.0 upgrade now throws 400 Bad Request instead of the previous 401 Unauthorized.

This is currently not handled gracefully bubbles up to bugsnag.

### Expected behavior
* No error on bugsnag

### Observed behavior
* Bugsnag throwing error

### Steps to reproduce
* try to get a bearer token with incorrect login details.

This repo will log the error when r

[2020-05-18 13:08] mattdyoung commented on #400
Bugsnag captures all unhandled errors by design.

To prevent this being reported to Bugsnag you have a few options:
- catch and handle the error
- Add the error class to a list of [ignored exceptions](https://docs.bugsnag.com/platforms/php/laravel/configuration-options/#ignored-exceptions)
- Register a callback to examine the Bugsnag `$report` object and return `false` for the the specific error:

[2020-05-18 13:08] #400 closed

[2020-08-11 21:56] adam1010 commented on #226
Raising the memory limit slightly in order for the exception handler to run to completion is perfectly acceptable IMHO. That's how we solved this problem in the CakePHP framework: https://github.com/cakephp/cakephp/pull/7224/files

We defaulted to a 4meg increase but allowed the user to increase/disable that amount if necessary. The benefit of being able to get bug reports for these common fatal e

[2020-09-09 10:08] imjoehaines commented on #368
Hey @rolfdenhartog

I recently looked at making our requests asynchronous with Guzzle's async capabilities, but hit an infinite loop (https://github.com/guzzle/guzzle/issues/2752) which wasn't possible to fix without a major refactor and breaking changes. Implementing a `QueueClient` also isn't really possible at the moment without major changes

We're looking at other ways to improve how we make

[2020-09-09 10:08] #368 closed

[2020-09-09 12:35] rihardssceredins opened #410 "Laravel 8.x support"
### Description

Laravel 8.x is now released, should add support to allow installation on Laravel 8.x projects.

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

[2020-09-09 12:38] imjoehaines commented on #410
The next release will support Laravel 8 and should be released today or tomorrow (https://github.com/bugsnag/bugsnag-laravel/pull/409)

[2020-09-09 12:43] #410 closed

[2020-09-10 04:10] lulzash opened #411 "Add Laravel 8 support"

[2020-09-10 06:48] steve-nester-uk commented on #411
Hi Lulzash, support for Laravel 8 was added in version [2.2.0](https://github.com/bugsnag/bugsnag-laravel/pull/409).

[2020-09-10 06:48] #411 closed

[2020-09-15 02:35] agasigp opened #412 "Unhandled exceptions not reported to Bugsnag"
### Expected behavior
Exceptions are sent to Bugsnag.

### Observed behavior
Lumen cannot find the Bugsnag driver. This message is thrown in the log:
[code]
### Steps to reproduce
I just make method in controller like this so it will throw **FatalThrowableError syntax error** :
[code]

### Version

- Lumen 6.3.3
- Laravel bugsnag 2.20.0
- PHP 7.4.9

### Additional information
- .env contains a val

[2020-09-15 09:00] imjoehaines commented on #412
Hey @agasigp, it looks like all that's missing is a "default" log channel in your `config/logging.php` file

In our Lumen 6 example, there is [a specified default channel](https://github.com/bugsnag/bugsnag-laravel/blob/66d23a6da7bc62d95efcad11a3a45aff822a4d89/example/lumen-6/config/logging.php#L16) which is [used by the LogManager](https://github.com/illuminate/log/blob/10133ad62828b0623cfebef25a

[2020-09-15 09:00] #412 closed

[2020-09-15 10:03] agasigp commented on #412
Thanks for the explanation. Issue solved.

[2021-01-04 05:07] usrNotFound opened #427 "Not reporting failed job on Laravel vapor"
### This only happens on a project running on laravel-vapor

### Describe the bug
Laravel vapor project won't report an error on bugsnag for failed queued job.

### Steps to reproduce
1. configure logging
[code]

2. Add BugsnagServiceProvider to app.php
4. set`QUEUE_CONNECTION` to `'redis', 'sqs' anything other than 'sync'
5. Create a job and implement `ShouldQueue` with `throw new Exception`
6. R

[2021-01-06 12:39] mattdyoung commented on #427
We don't yet provide support for using Bugsnag in AWS Lambda environments such as Laravel Vapor.

We suspect the issue is likely to be that the process is being terminated before the error report is delivered to Bugsnag, as the report is being sent asynchronously.

In general for serverless environments, setting the batch sending option to `false` may help as this will send the report when the err

[2021-01-25 17:35] fpcorso opened #428 "Reporting unhandled exceptions in Laravel not working"
### Describe the bug
We have followed the installation and configuration documentation for adding BugSnag to our Laravel application: https://docs.bugsnag.com/platforms/php/laravel/

Our Laravel app is within a docker container. We have our API key as an env variable.

Our logging.php is lengthy, but here are the relevant parts:

[code]

If I use the Bugsnag client, it works correctly:
[code]

sho

[2021-01-25 17:48] GrahamCampbell commented on #428
This error usually happens when the bugsnag service provider has not been added (in the right place) to your `config/app.php` file.

[2021-01-25 17:49] fpcorso commented on #428
@GrahamCampbell We have it in the app.php file above the app service provider as the documentation says to. Is there a different place for it?

[code]

[2021-01-25 17:54] GrahamCampbell commented on #428
What happens when you type `config('app')` into `php artisan tinker`?

[2021-01-25 17:59] fpcorso commented on #428
@GrahamCampbell Using `config('app')` inside tinker shows a variety of information including the providers. Bugsnag is listed in the providers as shown in this screenshot:

![image](https://user-images.githubusercontent.com/9730040/105746090-02bbae80-5f0d-11eb-814b-576ff8a6d702.png)

[2021-01-25 18:45] GrahamCampbell commented on #428
The Bugsnag provider is too low there. You need to add it before your app service providers.

[2021-01-26 10:54] fpcorso commented on #428
Ah, sorry @GrahamCampbell , thought the docs meant before the `AppServiceProvider` not before all app level providers.

Unfortunately, that did not resolve this issue. First, I tried moving it to the top of the app-level providers and clearing config and cache. The same issue occurred. Here is the screenshot of it's order using `config('app')`:

![image](https://user-images.githubusercontent.com/9

[2021-01-27 16:55] xander-jones commented on #428
Hey @fpcorso, presumably this is the latest version of `bugsnag-laravel` too?

In your logger config you have Bugsnag in a `dev_stack` channel, but by default I would expect this  the `stack` channel here – I wasn't able to find any details on a channel named `dev_stack` (https://laravel.com/docs/8.x/logging#available-channel-drivers) so presumably this is custom or in error?

If you have a separa

[2021-01-28 17:11] fpcorso commented on #428
@xander-jones This is a fairly large Laravel app with Scout, Nova, Elastic Search, and many integrations and layers. Not sure I'll have the time to create a cut-down repo for you. But, I did take a few minutes to walk through Xdebug to see if I can get some more details.

Unfortunately, it mostly mirrors the info from the stack trace:

During an exception, we do get into Laravel's LogManager's get

[2021-01-28 19:06] GrahamCampbell commented on #428
Do you have a package which is re-registering laravel'\s logger after bugsnag has already registered itself with it, effectively deleting bugnsnag's driver registration?

[2021-01-29 15:00] fpcorso commented on #428
@GrahamCampbell @xander-jones over in an email response from Bugsnag, John pointed out the stack trace goes through Dingo. I did a little digging and it seems [Dingo](https://github.com/dingo/api) has its own exception handling.

All of our routes go through or adds in the Dingo router and we have many hooks into it throughout our provider(s) so I am not sure if I can eliminate/comment out enough

[2021-02-23 10:44] WebMedic-X opened #435 "Call to undefined method Bugsnag\Configuration::getRedactedKeys()"
### Describe the bug

Not sure why recently stopped receiving Bugsnag reports and then checked the logs and found this error message showing up:

Uncaught Error: Call to undefined method Bugsnag\Configuration::getRedactedKeys() in public_html/vendor/bugsnag/bugsnag/src/Report.php:798

### Environment
* Bugsnag version: v3.26.0 and v2.22.0 of bugsnag-laravel
* PHP version: 7.4.15
* Composer version